
<!-- End Google Tag Manager -->
<!--common_css-->
<link href="~/css/common1.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<body>
    <div id="wrapper">
        <!-- header
            <header data-include="header"></header>-->
        <!-- /header -->
        <div id="category_top" class="container" style="width:100%">
            <!-- main-visual -->
            <div id="category_company" class="main-visual">
                <div class="main-visual-inner">
                    <h1 class="main-ttl">ソフト開発</h1>
                </div>
            </div>
            <!-- /main-visual -->
            <div class="contents">
                <div class="contents-inner">
                    <!-- breadcrumbs -->
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list">
                            <li class=""><a href="/">トップページ</a></li>
                            <li>ソフト開発</li>
                        </ul>
                    </div>
                    <!-- /breadcrumbs -->
                </div>
                <div class="contents-inner">
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- link-box-area -->
                        <div class="link-box-area">
                            <div class="link-box-block">
                                <a class="link" href="/company/profile.html">
                                    <p class="img"><img src="/img/company/pht_company_01.jpg" alt="会社概要"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">業務系システム</p>
                                        <p class="text">業務系システム開発部門では、システムの開発・コンサルティングの技能を生かしお客様にとって最適なシステムをご提案したいと考えています。お客様の多様なご要望に的確にお答えするために、常に時代のニーズを先取りし、最新の情報技術を駆使したシステム構築、幅広いシステムサポートを行っています。</p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/message.html">
                                    <p class="img"><img src="/img/company/pht_company_02.jpg" alt="社長メッセージ"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">アプリケーション</p>
                                        <p class="text">
                                            Webアプリケーションや、クライアントサーバーアプリケーションなどの開発を行う仕事です。主にJava(JSP／Servlet)、VB、.net、PHP、VBなどの言語を使用したプログラミング、テスト、メンテナンスを担当し、スキルに応じてシステムの要件定義、設計などの上流工程をを担当することもあります。
                                            ソーシャルアプリ市場の拡大・スマートフォンの普及・ECサイトでのサービスが拡大し、BtoBだけでなくBtoC向けの仕事も急増しており、活躍の場もどんどん広がっています。
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/history.html">
                                    <p class="img"><img src="/img/company/pht_company_03.jpg" alt="沿革"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">App開発</p>
                                        <p class="text">iOS/Android同時開発により、高い品質を保ちながら他社より30%x程度以上のコストが抑えられます。
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="link-box-block">
                                <a class="link" href="/company/news.html">
                                    <p class="img"><img src="/img/company/pht_company_05.jpg" alt="ニュース"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">ニュース</p>
                                        <p class="text">当社の最新ニュースをご紹介します。</p>
                                    </div>
                                </a>
                            </div>*@
                        </div>
                        <!-- /link-box-area -->
                    </div>
                    <!-- /main-content -->
                </div>
            </div>
            <!-- sideNavi -->
            <div data-category-include="sideNavi"></div>
            <!-- /sideNavi -->
            <!-- footerNavi
            <div data-include="footerNavi"></div>-->
            <!-- /footerNavi -->
        </div>
        <!-- footer
        <footer data-include="footer"></footer>-->
        <!-- /footer -->
    </div><!-- /#wrapper -->
    <!--common_JS-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/import.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <!--local_JS-->
    <script type="text/javascript" src="/js/company.js"></script>
</body>
