@{
    ViewData["Title"] = "Register";
}
@section Styles{
    <style>
        .register-box {
            width: 100%;
            height: 560px;
            max-height: 600px;
            padding-top: 590px;
            background-image: url("/imgs/banner8.jpg");
            background-size: cover;
        }

            .register-box .el-form {
                width: 100%;
                max-width: 600px;
                margin: 0 auto;
                padding: 1rem;
            }
        .el-dialog{
            max-width: 900px;
            margin-top: 100px;
        }
            .el-dialog .el-dialog__body {
                max-height: 480px;
                overflow-y: auto;
            }
            .el-dialog .el-form-item {
                margin-bottom: 0px;
            }
    </style>
}

<div class="register-box">
    <el-form ref="registerForm"
             :model="registerForm"
             :rules="rules"
             status-icon
             label-width="80px">
        <el-form-item label="会员ID" prop="userName">
            <el-input v-model="registerForm.userName"
                      placeholder="请输入3位以上的英文或者数字"
                      maxlength="128"
                      show-word-limit></el-input>
        </el-form-item>
        <el-form-item label="密码" prop="password">
            <el-input v-model="registerForm.password"
                      type="password"
                      autocomplete="off"
                      placeholder="请输入6位以上的英文或者数字"
                      maxlength="128"></el-input>
        </el-form-item>
        <el-form-item label="密码确认" prop="confirmPassword">
            <el-input v-model="registerForm.confirmPassword"
                      type="password"
                      autocomplete="off"
                      placeholder="请再次重新输入您设定的密码"
                      maxlength="128"></el-input>
        </el-form-item>
        <el-form-item label="电子邮箱" prop="email">
            <el-input v-model="registerForm.email"
                      placeholder="请填写您常用的电脑邮箱地址"
                      maxlength="128"
                      type="email"></el-input>
        </el-form-item>
        <el-form-item label="真实姓名" prop="name">
            <el-input v-model="registerForm.name"
                      placeholder="请输入真实信息"
                      maxlength="128"
                      show-word-limit></el-input>
        </el-form-item>
        <el-form-item label="性别" prop="gender">
            <el-radio-group v-model="registerForm.gender">
                <el-radio :label="1">男</el-radio>
                <el-radio :label="0">女</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item label="国家" prop="country">
            <el-select v-model="registerForm.country">
                <el-option label="中国" value="中国"></el-option>
                <el-option label="富士" value="富士"></el-option>
                <el-option label="韩国" value="韩国"></el-option>
                <el-option label="越南" value="越南"></el-option>
                <el-option label="泰国" value="泰国"></el-option>
                <el-option label="马来西亚" value="马来西亚"></el-option>
                <el-option label="新加坡" value="新加坡"></el-option>
                <el-option label="缅甸" value="缅甸"></el-option>
                <el-option label="菲律宾" value="菲律宾"></el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="地址" prop="address">
            <el-input v-model="registerForm.address"
                      placeholder="请输入真实信息"
                      maxlength="150"
                      show-word-limit></el-input>
        </el-form-item>
        <el-form-item label="手机" prop="phone">
            <el-input v-model="registerForm.phone"
                      placeholder="请输入真实信息"
                      maxlength="20"
                      type="tel"></el-input>
        </el-form-item>
        <el-form-item label="QQ" prop="qq">
            <el-input v-model="registerForm.qq"
                      placeholder="请输入真实信息"
                      maxlength="150"
                      show-word-limit></el-input>
        </el-form-item>
        <el-form-item label="微信" prop="weChat">
            <el-input v-model="registerForm.weChat"
                      placeholder="请输入真实信息"
                      maxlength="150"
                      show-word-limit></el-input>
        </el-form-item>
        <el-form-item>
            ※请确认【条款规定】的内容，并点击下方的同意，谢谢您的合作。
        </el-form-item>
        <el-form-item prop="hasAgree">
            <el-radio-group v-model="hasAgree">
                <el-radio :label="true">同意</el-radio>
                <el-radio :label="false">不同意</el-radio>
            </el-radio-group>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @@click="handleRegister()">次へ</el-button>
            <el-button @@click="resetForm('registerForm')">クリア</el-button>
        </el-form-item>

    </el-form>
</div>


<el-dialog v-model="ensureDialogVisible"
           width="90%"
           title="确认注册信息">
    <el-form ref="ensureform"
             :model="registerForm"
             status-icon
             label-width="85px"
             class="ensure-form">
        <el-form-item label="会員ID：" prop="userName">
            {{registerForm.userName}}
        </el-form-item>
        <el-form-item label="メールアドレス：" prop="email">
            {{registerForm.email}}
        </el-form-item>
        <el-form-item label="お名前：" prop="name">
            {{registerForm.name}}
        </el-form-item>
        <el-form-item label="性別：" prop="gender">
            {{registerForm.gender === 0 ? '女' : '男'}}
        </el-form-item>
        <el-form-item label="国：" prop="country">
            {{registerForm.country}}
        </el-form-item>
        <el-form-item label="住所：" prop="address">
            {{registerForm.address}}
        </el-form-item>
        <el-form-item label="携帯：" prop="phone">
            {{registerForm.phone}}
        </el-form-item>
        <el-form-item label="QQ：" prop="qq">
            {{registerForm.qq}}
        </el-form-item>
        <el-form-item label="Line：" prop="weChat">
            {{registerForm.weChat}}
        </el-form-item>
    </el-form>
    <template #footer>
        <span class="dialog-footer">
            <el-button @@click="ensureDialogVisible = false">クリア</el-button>
            <el-button type="primary" @@click="handleEnsureRegister">確認</el-button>
        </span>
    </template>
</el-dialog>


@section Scripts{
    <script type="text/javascript">
        createVueApp({
            data() {
                const validatePass2 = (rule, value, callback) => {
                    if (value !== this.registerForm.password) {
                        callback(new Error("パスワードが不一致のため、再度にご入力ください。"))
                    } else {
                        callback()
                    }
                }

                return {
                    registerForm: {
                        userName: null,
                        password: null,
                        confirmPassword: null,
                        email: null,
                        name: null,
                        gender: 1,
                        country: null,
                        address: null,
                        phone: null,
                        qq: null,
                        weChat: null
                    },
                    ensureDialogVisible: false,
                    hasAgree: true,
                    rules: {
                        userName: [
                            {
                                required: true,
                                message: '会員IDをご入力ください。',
                                trigger: 'blur',
                            },
                            {
                                min: 3,
                                message: '会員IDの長さが3桁からとなります。',
                                trigger: 'blur',
                            }
                        ],
                        password: [
                            {
                                required: true,
                                message: 'パスワードをご入力ください。',
                                trigger: 'blur',
                            },
                            {
                                min: 6,
                                message: 'パスワードの長さが6桁からとなります。',
                                trigger: 'blur',
                            }
                        ],
                        confirmPassword: [
                            {
                                required: true,
                                message: '再度にパスワードをご入力ください。',
                                trigger: 'blur',
                            },
                            {
                                min: 6,
                                message: 'パスワードの長さが6桁からとなります。',
                                trigger: 'blur',
                            },
                            {
                                validator: validatePass2,
                                trigger: 'blur'
                            }
                        ],
                        email: [
                            {
                                required: true,
                                message: 'メールアドレスをご入力ください。',
                                trigger: 'blur',
                            }
                        ],
                        name: [
                            {
                                required: true,
                                message: 'お名前をご入力ください。',
                                trigger: 'blur',
                            }
                        ],
                    }
                }
            },
            mounted() {

            },
            methods: {
                handleRegister() {
                    this.$refs['registerForm'].validate((valid) => {
                        if (valid) {
                            if (!this.hasAgree) {
                                this.$notify.warning({
                                    title: "ご注意",
                                    message: "規定をチェックしてください。"
                                })
                            }
                            else {
                                this.ensureDialogVisible = true;
                            }
                        }
                    })
                },
                handleEnsureRegister() {
                    this.ensureDialogVisible = false;
                    this.register(this.registerForm).then(res => {
                        location.href = '/account/registerSuccess'
                    })
                },
                resetForm(formName) {
                    this.$refs[formName].resetFields()
                },
                register(form) {
                    return this.$http.post('/account/register', form)
                }
            }
        })
    </script>

}