
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="人材派遣等のサービスをご利用いただくうえでの同意事項です。派遣が初めての方も安心。人材派遣で働くメリットをご案内します。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="人材派遣サービス利用規約,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>労働者派遣法に基づく派遣事業の情報公開について ｜IT・機電エンジニアの派遣求人なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">


</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">労働者派遣法に基づく派遣事業の情報公開について</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">労働者派遣法に基づく派遣事業の情報公開について</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <div class="p-section--lv1">
                        <P>本ページでは、労働者派遣法第23条第5項に基づき当社の労働者派遣事業の状況に関する情報をご提供しております。</P>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">登峰開発の派遣事業状況</h2>
                        </div>

                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    2020年度の各事業所の派遣事業の状況は以下のとおりです。<br>
                                    ※確認したい事業所を選択いただくと、事業所毎の情報が表示されます。<br>
                                    なお、労使協定の締結に関する情報提供については、<a href="/corporate/pdf/roshikyotei.pdf" target="_blank" rel="noopener noreferrer">こちら（PDF：278KB）<span class="c-icon-pdf"></span></a>をご確認ください。
                                </p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">関東エリア</h3>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/utsunomiya_2020.pdf" target="_blank" rel="noopener noreferrer">宇都宮（PDF形式　183KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/omiya_2020.pdf" target="_blank" rel="noopener noreferrer">大宮（PDF形式　191KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/sinjuku_2020.pdf" target="_blank" rel="noopener noreferrer">新宿（PDF形式　179KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">東海エリア</h3>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/sakae_2020.pdf" target="_blank" rel="noopener noreferrer">栄（PDF形式　182KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/toyota_2020.pdf" target="_blank" rel="noopener noreferrer">豊田（PDF形式　181KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/hamamatsu_2020.pdf" target="_blank" rel="noopener noreferrer">浜松（PDF形式　185KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">関西エリア</h3>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        <a href="/corporate/pdf/osaka_2020.pdf" target="_blank" rel="noopener noreferrer">大阪（PDF形式　192KB）<span class="c-icon-pdf"></span></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">マージン率に含まれる派遣事業運営に必要な経費について</h2>
                        </div>

                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    マージン率は、派遣料金から派遣労働者の賃金を除いた金額が派遣料金に占める割合を示すものですが、派遣会社の事業運営に必要となる経費は派遣労働者の賃金だけではありません。<br>
                                    派遣労働者の賃金以外に必要となる経費には、主に以下のようなものがあります。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>派遣労働者の社会保険料</strong><br>
                                    派遣労働者の社会保険は、保険料の約半分を雇用主である派遣会社が負担しています。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>派遣労働者の年次有給休暇費用</strong><br>
                                    派遣労働者が年次有給休暇を取得した際の賃金は派遣会社が負担しています。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>募集費・教育費・福利厚生費</strong><br>
                                    派遣労働者の募集に必要となる募集広告費、スキルアップ支援のための教育費、福利厚生費などの費用が発生します。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>その他経費</strong><br>
                                    その他にも社員の人件費、事業運営に必要なシステムの維持費、オフィスの家賃など、事業運営のために必要な経費があります。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    参考：<a href="/corporate/pdf/ryoukin.pdf" target="_blank" rel="noopener noreferrer">一般社団法人日本人材派遣協会　「派遣料金の仕組みについてご説明します」<span class="c-icon-pdf"></span></a>
                                </p>
                            </div>
                        </div>
                    </div>


                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">登峰開発のキャリア形成支援制度・福利厚生</h2>
                        </div>

                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    登峰開発株式会社が提供するキャリア形成支援制度・福利厚生には、以下のようなものがあります。<br>
                                    （一部対象外のオフィスがございます。詳しくは、各オフィスまでお問い合わせください）
                                </p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">キャリア形成支援制度</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>教育訓練計画</strong><br>
                                    スタッフの皆さま一人ひとりの就業継続期間にあわせて、教育訓練のご案内を差し上げます。目指すキャリアを計画的に手に入れるため、職業生活において求められる幅広い能力を体系的に蓄積いただけるよう、一人ひとりの経験・スキルにあわせた段階的なコースをご案内します。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>スキルアップ支援</strong><br>
                                    皆さまのさらなるステップアップに向け、様々な研修をご用意しております。登録されているスタッフの方は、優待制度がありますので、ぜひご活用ください。
                                </p>
                                <p class="u-mt5 u-align--right"><a class="c-text-link" href="/bene/skillup/">詳細はこちら</a></p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <strong>キャリア・コンサルティング</strong><br>
                                    転職・キャリアアップなど、キャリアについて気軽に相談できるサービスです。ご相談者が自分自身の価値や強みに気づき、自信をもってキャリアプランを考えるためのサポートをいたします。
                                </p>
                                <p class="u-mt5">
                                    <strong>【すでに来社・オンライン登録されている方】</strong><br>
                                    TEL：0120-699-008（受付時間 10：00～19：00 ※土日祝祭日を除く）
                                </p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">福利厚生</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    いっそうのスキルアップや、充実したプライベート・ライフのために、さまざまな福利厚生をご用意しています。
                                </p>
                                <p class="u-mt5 u-align--right"><a class="c-text-link" href="/bene/">詳細はこちら</a></p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    また、「仕事も家庭も自分も大切にしたい」という皆様を支援し、結婚・出産を考えている方から、出産を経て仕事復帰をされた方まで、仕事と家庭の両立をさまざまな場面でサポートいたします。当プログラムは、たくさんのワーキングママ・パパを支援している株式会社マザーネットと提携し、提供しています。
                                </p>
                                <p class="u-mt5 u-align--right"><a class="c-text-link" href="/bene/support/life/parents/">詳細はこちら</a></p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">安心して働いていただくための各種制度</h3>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">年次有給休暇</li>
                                    <li class="c-list__item">社会保険(健康保険、厚生年金、雇用保険)</li>
                                    <li class="c-list__item">労働者災害補償保険</li>
                                    <li class="c-list__item">定期健康診断</li>
                                    <li class="c-list__item">産前産後・育児・介護休業制度</li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    <!--<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->

</body>
</html>