
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="人材派遣等のサービスをご利用いただくうえでの同意事項です。派遣が初めての方も安心。人材派遣で働くメリットをご案内します。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="人材派遣サービス利用規約,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>人材派遣サービス利用規約 ｜IT・機電エンジニアの派遣求人なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">





    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">人材派遣サービス利用規約</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">人材派遣サービス利用規約</span>
                </li>
            </ul>
        </div>
    </div>




    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <div class="p-section--lv1">
                        <p>
                            本規約は、登峰開発株式会社が提供する人材派遣等のサービスをご利用いただくうえでの同意事項となります。ご利用の際には、必ずご一読ください。なお、反社会的勢力の構成員および関係者の方は当社のサービス利用の一切をお断りします。
                        </p>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第1条 人材派遣等サービス</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    人材派遣等サービス（以下、「本サービス」といいます。）とは、登峰開発株式会社（以下、「当社」といいます。）が提供する以下各号に定めるサービスの総称です。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">派遣･紹介予定派遣にて就業を希望する利用者に対する仕事情報の提供、当該仕事への申込受付・必要資格等との適合性の照会、派遣先への派遣</li>
                                        <li class="p-ol-list__item">職業紹介を希望する利用者に対する求人情報の提供・紹介、当該求人への応募受付・求人条件等との適合性の照会、応募手続きの代行</li>
                                        <li class="p-ol-list__item">就業・転職を支援するためのスキルチェックやキャリアカウンセリング等の実施、当社が運営するウェブサイト、メール配信等により行う就業・転職を支援するための情報提供</li>
                                        <li class="p-ol-list__item">その他前各号に付帯・関連するサービス</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第2条 本規約の適用およびID・パスワード</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            当社が運営するウェブサイトを閲覧する者、当社所定の方法により派遣スタッフ登録を行い、当社がこれを受理した者（当社から派遣され、派遣先に就業中の者を含む）を、本サービスの利用者とします。
                                        </li>
                                        <li class="p-ol-list__item">利用者は、当社が運営するウェブサイト閲覧、もしくは当社に対し派遣スタッフ登録手続きを行った時点で本規約の内容に同意しているものとし、当該時点から本規約が適用されるものとします。</li>
                                        <li class="p-ol-list__item">利用者が本規約に違反およびその恐れがある場合または当社が本サービスを提供することが不適切であると判断した場合には、本サービスの利用をお断りすることがあります。</li>
                                        <li class="p-ol-list__item">当社は、利用者に、IDおよびパスワードを発行・付与することがあります。</li>
                                        <li class="p-ol-list__item">利用者は、発行・付与されたIDおよびパスワードの使用ならびに管理について、一切の責任を負うものとし、利用者は自己に付与されたIDおよびパスワードを第三者に使用させ、または譲渡してはなりません。</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第3条 禁止事項</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    利用者は、本サービスの利用に際し、以下各号の行為を行ってはならないものとします。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">虚偽または不正確な情報を入力および申告する行為</li>
                                        <li class="p-ol-list__item">個人や団体を誹謗、中傷、脅迫し、またはそのおそれのある行為</li>
                                        <li class="p-ol-list__item">著作権、商標権、その他の知的財産権を含む他人の権利を侵害し、またはそのおそれのある行為</li>
                                        <li class="p-ol-list__item">本サービスを通じて入手した、派遣業務等の具体的な業務内容、契約内容、企業情報、その他の機密情報を、複製、販売、出版その他方法の如何を問わず、私的利用の範囲を超えて利用し、または第三者に開示、提供する行為</li>
                                        <li class="p-ol-list__item">本サービスを通じて入手した情報を利用して、当社もしくは第三者に対して金銭等を要求し、または不利益もしくは損害を与える行為</li>
                                        <li class="p-ol-list__item">本サービスの円滑な運営を妨げる行為、または当社の信用または名誉を毀損し、もしくはそのおそれのある行為</li>
                                        <li class="p-ol-list__item">犯罪行為、または法令、反社会的勢力等に関する組織に属する等公序良俗に反する行為、もしくはそのおそれのある行為</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第4条 利用者の責任</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    利用者は、自らの責任にもとづき本サービスを利用するものとし、本サービスの利用に関する一切の責任を負うものとします。なお、利用者は、利用者が当社より派遣され派遣先に就業中の場合、当社の定める就業規則・各種規程および派遣先の定める諸規程に従うものとします。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    利用者が当社に対して提供した情報内容に起因して、当社の取引先企業、派遣先企業、派遣就業が予定されている企業等その他の第三者との間で紛争等が生じた場合には、利用者自身の責任においてこれに対処するものとし、当社に一切の迷惑をかけないことをご了承いただきます。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第5条 当社の責任</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            当社は、利用者が本サービスへ申込み、または本サービスを利用したことにより利用者に生じた一切の精神的、財産的損害につき、何らの責任も負わないものとします。
                                        </li>
                                        <li class="p-ol-list__item">
                                            当社は、情報取扱業務において通常講ずべき合理的なウィルス対策では防止できないウィルス被害、その他当社の責に帰すべき事由によらない火災、停電、天災地変等の不可抗力により、本サービスの提供に支障が生じ、または本サービスの提供が困難となった場合、これによって利用者に生じた損害につき何らの責任も負わないものとします。
                                        </li>
                                        <li class="p-ol-list__item">
                                            当社は、利用者に提供する情報のうち、企業情報等の第三者に関する情報、企業広告、求人広告その他第三者より提供される情報内容の正確性、最新性、有用性、適切性につき保証するものではありません。
                                        </li>
                                        <li class="p-ol-list__item">
                                            当社は本サイトにエラーその他の不具合がないこと、サーバ等にウィルスその他の有害な要素が含まれていないこと、その他本サービス提供のためのインフラ、システム等に瑕疵がないこと等につき保証するものではありません。
                                        </li>
                                        <li class="p-ol-list__item">
                                            当社は、応募資格や求人条件との適合性の照会における検討基準や判断理由等、当社の機密に属する事項について、質問への回答等その他の対応を行う義務を一切負いません。
                                        </li>
                                        <li class="p-ol-list__item">当社は、利用者による本サービスの利用によって、派遣就業が開始できることや紹介予定派遣等による採用の実現を保証するものではありません。</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第6条 個人情報の取り扱いについて</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本サービスの利用に際し利用者からお預かりする個人情報の取扱いについては、別途定める「個人情報の取扱いについて」に従うものとします。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    「個人情報の取扱いについて」の内容は<a href="/corporate/privacy/" target="_blank">こちら</a>よりご確認下さい。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第7条 サービス利用規約の変更</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社は、本規約の内容を随時変更することができるものとします。本規約を変更する場合、変更後の規約内容を本サイト上に1ヶ月間掲載することとし、1ヶ月が経過した時点において、当社に提供済みの情報につき削除を請求した利用者を除く全ての利用者が、変更後の規約に同意したものとみなします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第8条 サービスの停止・終了等</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item u-mb-1em">
                                            <p class="u-mb-1em">
                                                当社は、以下各号のいずれかに該当する事由が発生したと判断した場合、利用者への事前の通知なくして、本サービスの内容を変更し、または本サービスの正常な提供を行うに必要な期間、本サービスの提供を停止することができます。
                                            </p>
                                            <div class="p-ol-list">
                                                <ol class="p-ol-list__list">
                                                    <li class="p-ol-list__item">
                                                        本サービスを提供するためのインフラ、システム等(以下総じて、「システム」といいます)について、定期保守、または点検、更新、もしくは緊急の必要性がある場合
                                                    </li>
                                                    <li class="p-ol-list__item">突発的なシステムの故障等が発生した場合</li>
                                                    <li class="p-ol-list__item">その他、不測の事態により、本サービスの提供をすることが困難である場合</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li class="p-ol-list__item u-mb-1em">
                                            <p class="u-mb-1em">
                                                当社は、利用者において以下各号のいずれかに該当する事由が発生したと判断した場合、当該スタッフに対して、何らの催告を要することなく、本サービスの提供を終了することができるものとします。
                                            </p>
                                            <div class="p-ol-list">
                                                <ol class="p-ol-list__list">
                                                    <li class="p-ol-list__item">利用者が本規約に定める事項に違反した場合</li>
                                                    <li class="p-ol-list__item">当社において、当社と利用者との信頼関係を維持できないと判断した場合</li>
                                                    <li class="p-ol-list__item">マイページへの最終ログインから1年経過した場合</li>
                                                    <li class="p-ol-list__item">登録後、本サービスの最終利用日から2年間利用がない場合、または登録された連絡先が不通・利用者の転居等により当社から利用者への連絡が一定期間を超えて取れなくなった場合</li>
                                                </ol>
                                            </div>
                                        </li>
                                        <li class="p-ol-list__item u-mb-1em">
                                            前各項に掲げる場合の他、当社が必要と判断する場合には、利用者への事前の通知なく、本サービスの提供をいつでも停止し、または終了することができます。
                                        </li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第9条 登録の取消・削除</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本サービスに係る登録は、利用者の申し出があった場合の他、第3条の禁止行為を行った場合、前条に基づき当社が本サービスの提供を終了した場合、当社の判断により取消または削除させていただくことがあります。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第10条 情報の保管期間</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item u-mb-1em">当社は、本サービスの全部または一部の終了、合併、分割、その他グループ再編等により、本サービスを従前通り提供することができないと判断した場合、当社が保有するサーバ上に蓄積されている、利用者の登録情報等を、抹消することがあります。抹消後はこれを復元することはできません。</li>
                                        <li class="p-ol-list__item">利用者は、前項の事情を踏まえ、自らに不利益もしくは損害が発生しないために必要な措置を、自己の責任と費用負担において講じるものとします。</li>
                                    </ol>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第11条 損害賠償</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    利用者が、本規約に違反し、または本サービスの利用に際し、当社もしくは第三者に対して損害を与えた場合、利用者は直接・間接を問わず、一切の損害を賠償するものとします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第12条 協議事項</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本規約の解釈に疑義が生じた場合、または本規約に定めのない事項については、当社と利用者は、誠意をもって協議の上これを解決するものとします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第13条 管轄裁判所</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本サービスおよび本規約に関する一切の紛争、請求等については、東京地方裁判所を第一審の専属的合意管轄裁判所とします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">第14条 お問い合わせ連絡先</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本規約に関するお問い合わせについては、下記までご連絡ください。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    本サービスに関するお問い合わせ<br>
                                    登峰開発株式会社<br>
                                    電話番号　0120-699-322<br>
                                    受付時間　9:00～21：00（月～木）9:00～19:00（金） ※土日祝祭日除く<br>
                                    フォーム　<a href="https://persol-tech-s.co.jp/form/contact/" target="_blank">個人のお客様お問い合わせフォーム</a>
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="c-text-annotation c-note">
                                    内容によりましては、別部門より改めてご連絡させて頂きます。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right">
                                    付則：2017年 1月 1日施行<br>
                                    以上
                                </p>
                            </div>
                        </div>
                    </div>



                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    @*<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->

</body>
</html>


