
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="人材派遣等のサービスをご利用いただくうえでの同意事項です。派遣が初めての方も安心。人材派遣で働くメリットをご案内します。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="人材派遣サービス利用規約,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>情報セキュリティ基本方針 ｜IT・機電エンジニアの派遣求人なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">





    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">情報セキュリティ基本方針</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">情報セキュリティ基本方針</span>
                </li>
            </ul>
        </div>
    </div>




    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <div class="p-section--lv1">
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社およびグループ各社（以下「パーソルグループ」）は、グループビジョン「はたらいて、笑おう。」を掲げ、はたらく人にさまざまな成長の場や機会を提供するとともに、組織の成長に貢献する幅広いサービスを提供します。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、お客様及び自らの情報資産をあらゆる脅威から守り、そのために必要な情報セキュリティの確保に取り組み、継続的かつ安定的にサービスを提供することが企業の社会的責任であると認識し、これを実現するために本基本方針を定め、遵守します。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">1.情報セキュリティ体制の構築</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、保有する全ての情報資産の保護と適正な管理のため、各組織に情報管理責任者を配置し、情報セキュリティ対策をすみやかに実施できる体制を構築します。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">2.情報セキュリティ教育の実施</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、全従業者に対し職務や業務に応じた必要な情報セキュリティ教育を実施し、本基本方針ならびに各種規程の周知徹底と情報セキュリティの意識向上を進めてまいります。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">3.情報資産の保護</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、保有するすべての重要な情報資産をあらゆる脅威から保護するため、リスクアセスメントと管理策を実行するとともに、リスクの定期的な見直しを行い、必要に応じて改善いたします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">4.情報セキュリティインシデントへの対応</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、情報セキュリティインシデントが発生した場合、迅速に的確な対応を行うとともに、適正な再発防止策を講じます。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">5.各種法令等の遵守</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、情報セキュリティに関する各種法令、要求事項、規制、ルールおよび契約上の義務を遵守いたします。違反する行為があった場合には、適正に対処いたします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">6.見直しと改善</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、情報資産の管理が適正に行われていることを確認するため、定期的に内部監査を実施し、その結果を検証いたします。さらに、社内外の情報セキュリティを取り巻く変化を考慮し、情報セキュリティマネジメントシステムを継続的に改善してまいります。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right">
                                    パーソルホールディングス株式会社 代表取締役社長 CEO <br>
                                    和田 孝雄
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right">
                                    登峰開発株式会社 代表取締役社長<br>
                                    高山 明宇
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right">
                                    改定：2017年7月1日
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right">
                                    最新改定日：2019年10月1日
                                </p>
                            </div>
                        </div>
                    </div>



                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    @*<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->

    <script async type="text/javascript" src="/_Incapsula_Resource?SWJIYLWA=719d34d31c8e3a6e6fffd425f7e032f3&ns=1&cb=856256287"></script>
</body>
</html>
