
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="人材派遣等のサービスをご利用いただくうえでの同意事項です。派遣が初めての方も安心。人材派遣で働くメリットをご案内します。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="人材派遣サービス利用規約,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>個人情報の取り扱いについて ｜IT・機電エンジニアの派遣求人なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">





    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">個人情報の取り扱いについて</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">個人情報の取り扱いについて</span>
                </li>
            </ul>
        </div>
    </div>




    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <!--記事見出し１-->
                    <div class="p-section--lv1">
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p class="c-note">
                                    2022年4月1日改定
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="u-align--right c-note">
                                    登峰開発株式会社<br>
                                    東京都新宿区西新宿2-1-1　新宿三井ビルディング51F<br>
                                    代表取締役　　高山 明宇

                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-section--lv1">
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループは、はたらく人にさまざまな成長の場や機会を提供するとともに、組織の成長に貢献する幅広いサービスを提供することで、社会に貢献することを目指しています。はたらく人や組織からパーソルグループがお預かりするさまざまな情報は、質の高いサービスの提供のため、はたらく人や組織の成長の実現のため、たいせつに活用させていただいております。
                                </p>
                                <p>
                                    このページでは、当社において、皆さまの個人情報がどのような目的でどのように取り扱われるのかをご説明するとともに、ご自身の個人情報に関するご要望を承る手順をあわせてご案内いたします。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p class="c-heading-article6 u-align--center u-mb15">
                                    このページでご説明する4つのこと
                                </p>
                                <div class="p-button-layout10 u-mb15 u-flex">
                                    <div class="p-button-layout10__element">
                                        <a class="c-button c-button--sp c-button--white" href="#job1">個人情報の利用目的</a>
                                    </div>
                                    <div class="p-button-layout10__element">
                                        <a class="c-button c-button--sp c-button--white" href="#job2">個人情報の第三者への提供・共同利用</a>
                                    </div>
                                </div>
                                <div class="p-button-layout10 u-mb15 u-flex">
                                    <div class="p-button-layout10__element">
                                        <a class="c-button c-button--sp c-button--white" href="#job3">個人情報に関するご要望の受付</a>
                                    </div>
                                    <div class="p-button-layout10__element">
                                        <a class="c-button c-button--sp c-button--white" href="#job4">個人情報の安全管理措置</a>
                                    </div>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <p class="c-text-annotation c-note">
                                    このページは、個人情報の保護に関する法律第21条、第27条および第32条ならびに当社が取得しておりますプライバシーマークの基準における所定の事項を示すものです。
                                </p>
                            </div>
                        </div>
                        <div class="p-section--lv1" id="job1">
                            <div class="c-heading-article2">
                                <h2 class="c-heading-article2__text">1. 個人情報の利用目的</h2>
                            </div>
                            <div class="p-section--lv2">
                                <div class="p-section--lv3">
                                    <p>
                                        当社がお預かりする個人情報は、以下の目的のために利用いたします。
                                    </p>
                                    <p>
                                        なお、個人情報の収集に際し、利用目的を別途ご本人に明示する場合には、それらの個人情報は収集の際に明示された目的のために利用いたします。
                                    </p>
                                </div>
                                <div class="p-section--lv3">
                                    <div class="c-scroll-table">
                                        <div class="c-scroll-table__finger">
                                            <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                        </div>
                                        <table class="c-scroll-table__table">
                                            <thead class="c-scroll-table__head">
                                                <tr class="c-scroll-table__row">
                                                    <th class="c-scroll-table__heading">個人のお客様の情報</th>
                                                </tr>
                                            </thead>
                                            <tbody class="c-scroll-table__body">
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">1. 各サービスのご利用者の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            1. 各サービスのご利用者の情報
                                                        </p>
                                                        <ul class="c-list u-mb15" style="font-size:1.4rem">
                                                            <li class="c-list__item">ご利用登録に関する各種手続き</li>
                                                            <li class="c-list__item">お申込みいただいたサービス、および付随する各種サービスのご提供</li>
                                                            <li class="c-list__item">
                                                                お申込みいただいたサービスに関する情報、および当社（またはパーソルグループの各社）が提供するその他のサービスやキャンペーンに関する情報のご案内
                                                                <p class="c-text-annotation">
                                                                    ご案内は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。
                                                                </p>
                                                            </li>
                                                            <li class="c-list__item">派遣就業者等の労務管理・福利厚生の提供、または在籍確認への対応</li>
                                                            <li class="c-list__item">お友達紹介に関するお問い合わせ、および連絡のため</li>
                                                            <li class="c-list__item">
                                                                ご利用いただくサービスによっては、お取引先からの照会への回答、および参画または参画を予定しているお取引先への情報提供
                                                                <p class="c-text-annotation">
                                                                    詳細は「2-1．各サービスのご利用にあたっての第三者への提供」をご覧ください。
                                                                </p>
                                                            </li>
                                                            <li class="c-list__item">当社の事業活動に関するマーケティング活動やアンケート調査、署名などへの協力依頼</li>
                                                            <li class="c-list__item">既存のサービス（お申込みいただいたサービスを含むがこの限りではない）および新しいサービスの改善・向上・開発（統計処理および機械学習のための利用を含む）</li>
                                                            <li>・お申込みいただいたサービスの利用規約に定める禁止事項に関する調査およびこれに基づく措置</li>
                                                        </ul>
                                                        <p class="c-text-annotation u-mb15">
                                                            外国籍の方からは、日本国での就労可否の確認に利用する目的で、日本国の在留および就労資格を確認できる情報を収集させていただきます。
                                                        </p>
                                                        <p class="c-text-annotation u-mb15">
                                                            障害者手帳をお持ちの方からは、募集職種への適否の判断等に利用する目的で、障がいの種類、等級、障がい内容等を確認できる情報を収集させていただくことがあります。
                                                        </p>
                                                        <p class="c-text-annotation">
                                                            当社は、Cookie、端末情報、IPアドレス、属性情報、位置情報、広告識別子および行動履歴（メールの開封、リンクのクリックおよびウェブサイトの閲覧履歴等）など（以下「Cookie等」といいます）の利用ログ情報を取得します。当社はこれらの情報とお客様のご登録情報その他当社が保有する個人情報とを参照し、以下の目的のために利用します。<br>
                                                            尚、当社は、マーケティングオートメーションツールなどを用いることで、Cookie等を利用してお客様のページの遷移やセッション数などを把握し、当社が保有する個人情報と関連付けて当社ウェブサイトの行動履歴などを収集する場合があります。
                                                            <ul class="c-list u-ml10" style="font-size:1.4rem">
                                                                <li class="c-list__item">利用者が認証サービスにログインするとき、保存されている利用者の登録情報を参照して、利用者ごとにカスタマイズされたサービスを提供するため</li>
                                                                <li class="c-list__item">インターネット広告効果の測定のため</li>
                                                                <li class="c-list__item">お客様の興味・関心に応じた、お申込みのサービスに関する情報、および当社（またはパーソルグループの各社）が提供するその他のサービスに関する情報をご案内（電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。）するため</li>
                                                                <li class="c-list__item">当社の既存サービス（お申込みいただいたサービスを含むがこの限りではありません）の改善・向上のための統計処理、お問合せの対応、もしくは新規サービスの開発・改善のための統計処理のため</li>
                                                                <li class="c-list__item">アンケート調査等の対象者の選定</li>
                                                            </ul>
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <thead class="c-scroll-table__head">
                                                <tr class="c-scroll-table__row">
                                                    <th class="c-scroll-table__heading">お取引先の情報</th>
                                                </tr>
                                            </thead>
                                            <tbody class="c-scroll-table__body">
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">2. お取引先の役職員の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            2. お取引先の役職員の情報
                                                        </p>
                                                        <ul class="c-list u-mb15" style="font-size:1.4rem">
                                                            <li class="c-list__item">
                                                                サービスおよび関連する情報のご案内・ご提供、ご要望の聴取、およびマーケティング活動やアンケート調査、署名などへの協力依頼
                                                                <p class="c-text-annotation">
                                                                    ご案内・ご提供は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。
                                                                </p>
                                                            </li>
                                                        </ul>
                                                        <p class="c-text-annotation">
                                                            当社は、Cookie、端末情報、IPアドレス、属性情報、位置情報、広告識別子および行動履歴（メールの開封、リンクのクリックおよびウェブサイトの閲覧履歴等）などの利用ログ情報を取得します。当社は、これらの情報と当社がご商談やお取引等により取得した情報その他当社が保有する個人情報とを分析し、お客様の属性や興味・関心に応じたサービス提案・情報提供・広告配信を行います。<br>
                                                            尚、当社は、マーケティングオートメーションツールなどを用いることで、Cookie等を利用してお客様のページの遷移やセッション数などを把握し、当社が保有する個人情報と関連付けて当社ウェブサイトの行動履歴などを収集する場合があります。
                                                            <ul class="c-list u-ml10 u-mb15" style="font-size:1.4rem">
                                                                <li class="c-list__item">各種セミナーのお申込み受付</li>
                                                                <li class="c-list__item">お取引先管理、営業活動</li>
                                                            </ul>
                                                        </p>
                                                        <p class="c-text-annotation">
                                                            パーソルグループ各社が共同で利用いたします。詳細は「2-2．お取引先の役職員の情報の共同利用」をご覧ください。
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <thead class="c-scroll-table__head">
                                                <tr class="c-scroll-table__row">
                                                    <th class="c-scroll-table__heading">その他の関係者様の情報</th>
                                                </tr>
                                            </thead>
                                            <tbody class="c-scroll-table__body">
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">3. 当社が業務の委託を受けることに伴って取得した情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            3. 当社が業務の委託を受けることに伴って取得した情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">委託された業務の遂行</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">4. 当社、および当社関係会社にお問い合わせ等を受けることに伴って取得した情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            4. 当社、および当社関係会社にお問い合わせ等を受けることに伴って取得した情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">お問い合わせされた当社の提供する各種サービスのご案内、資料の発送、回答のための当社の提供するサービスご利用状況の把握、およびご本人様確認</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">5. 事業所への来訪者の情報（監視カメラに記録された個人情報も含む）</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            5. 事業所への来訪者の情報（監視カメラに記録された個人情報も含む）
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">防犯等の安全管理</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">6. 広報活動における取材によって取得した情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            6. 広報活動における取材によって取得した情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">当社およびパーソルグループ各社の広報媒体・各種メディアへの掲載</li>
                                                            <li class="c-list__item">広報活動に関するご連絡</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">7. 当社の求人へ応募された方の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            7. 当社の求人へ応募された方の情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">採用に関する選考・決定</li>
                                                            <li class="c-list__item">採用後の配属先決定
                                                            <li class="c-list__item">当社採用基準の明確化、採用選考効率化のための統計処理および機械学習（当社従業員の応募選考時データとの比較等を含む）</li>
                                                            <li class="c-list__item">採用活動に関する調査等へのご協力依頼</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                   <td class="c-scroll-table__heading">8. 研修・セミナーに応募された方の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            8. 研修・セミナーに応募された方の情報
                                                        </p>
                                                        <ul class="c-list u-mb15" style="font-size:1.4rem">
                                                            <li class="c-list__item">申込みされた研修・セミナー関する申込手続、日程変更およびキャンセル、有料の場合における参加料金等のご連絡</li>
                                                            <li class="c-list__item">研修・セミナー参加料金の徴収および支払い状況の把握（有料の場合に限ります）</li>
                                                            <li class="c-list__item">円滑な運営のための、参加管理および過去参加状況の把握</li>
                                                            <li class="c-list__item">研修・セミナーに関する資料、教材、その他必要な物品等の送付</li>
                                                            <li class="c-list__item">
                                                                当社（またはパーソルグループの各社）が提供するその他のサービスに関する情報のご案内
                                                                <p class="c-text-annotation">
                                                                    ご案内は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。
                                                                </p>
                                                            </li>
                                                            <li class="c-list__item">当社の事業活動に関するマーケティング活動やアンケート調査、署名などへの協力依頼</li>
                                                            <li class="c-list__item">既存のサービス（お申込みいただいたサービスを含むがこの限りではない）および新しいサービスの改善・向上・開発（統計処理および機械学習のための利用を含む）</li>
                                                            <li class="c-list__item">お問い合わせ等への回答およびご本人様確認</li>
                                                            <li class="c-list__item">研修・セミナーの利用規約に定める禁止事項に関する調査およびこれに基づく措置</li>
                                                        </ul>
                                                        <p class="c-text-annotation">
                                                            当社は、Cookie、端末情報、IPアドレス、属性情報、位置情報、広告識別子および行動履歴（メールの開封、リンクのクリックおよびウェブサイトの閲覧履歴等）などの利用ログ情報を取得します。当社は、これらの情報と当社がご商談やお取引等により取得した情報その他当社が保有する個人情報とを分析し、お客様の属性や興味・関心に応じたサービス提案・情報提供・広告配信を行います。</br>
                                                            尚、当社は、マーケティングオートメーションツールなどを用いることで、Cookie等を利用してお客様のページの遷移やセッション数などを把握し、当社が保有する個人情報と関連付けて当社ウェブサイトの行動履歴などを収集する場合があります。
                                                            <ul class="c-list u-ml10" style="font-size:1.4rem">
                                                                <li class="c-list__item">お客様の興味・関心に応じた、お申込みのサービスに関する情報、および当社（またはパーソルグループの各社）が提供するその他のサービスに関する情報をご案内（電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。）するため</li>
                                                        </p>
                                                    </td>
                                                </tr>

                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">9. カウンセリングを希望された方の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            9. カウンセリングを希望された方の情報
                                                        <p>
                                                            <ul class="c-list" style="font-size:1.4rem">
                                                                <li class="c-list__item">ご相談に関するご連絡</li>
                                                            </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">10. メールマガジンの配信を希望された方の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            10. メールマガジンの配信を希望された方の情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">お仕事に関連する情報のご提供及びそれらに関するご連絡</li>
                                                            <li class="c-list__item">お申し込み及びプレゼントなどへの応募に関するご連絡</li>
                                                            <li class="c-list__item">利用者が当社に希望されたサービスのご提供およびそれらに関するご連絡</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">11. 当社が行う公募へ応募された方の情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            11. 当社が行う公募へ応募された方の情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">公募における審査（抽選）、問合せ、結果連絡、入選者の発表、景品（賞品）送付</li>
                                                            <li class="c-list__item">応募頂いたイベントの運営</li>
                                                            <li class="c-list__item">公募に関する取材依頼</li>
                                                            <li class="c-list__item">
                                                                当社（またはパーソルグループの各社）が提供するその他のサービスに関する情報のご案内
                                                                <p class="c-text-annotation">
                                                                    ご案内は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。
                                                                </p>
                                                            </li>
                                                            <li class="c-list__item">当社の提供するサービスご利用状況の把握</li>
                                                            <li class="c-list__item">当社の事業活動に関するマーケティング活動やアンケート調査、署名などへの協力依頼</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                                <!--tr class="c-scroll-table__row">
                                                  <td class="c-scroll-table__heading">12. 当社が行う各種販売および販売代理業務に関する情報</td>
                                                </tr-->
                                                <tr class="c-scroll-table__row">
                                                    <td class="c-scroll-table__data">
                                                        <p>
                                                            12. 当社が行う各種販売および販売代理業務に関する情報
                                                        </p>
                                                        <ul class="c-list" style="font-size:1.4rem">
                                                            <li class="c-list__item">システム、コンテンツ、各種サービス、物品等の販売および販売代理業務</li>
                                                            <li class="c-list__item">当社に希望されたサービス・情報の提供</li>
                                                            <li class="c-list__item">当社の販売元・販売先管理</li>
                                                            <li class="c-list__item">
                                                                当社（またはパーソルグループの各社）が提供するその他のサービスに関する情報のご案内
                                                                <p class="c-text-annotation">
                                                                    ご案内は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。
                                                                </p>
                                                            </li>
                                                            <li class="c-list__item">当社の事業活動に関するマーケティング活動や調査、署名などへの協力依頼</li>
                                                        </ul>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="p-section--lv2">
                                <div class="p-section--lv3">
                                    <p>
                                        なお、当社が、個別の個人情報の収集に際し、個々の利用目的等を明示のうえ、ご本人に通知、もしくはご同意いただいた場合には、その個別の個人情報については、明示された利用目的等が適用されます。さらに、「お客様対応の品質向上」のためにお客様との通話を録音させていただく場合があります。
                                    </p>
                                </div>
                                <div class="p-section--lv3">
                                    <p class="c-text-annotation c-note">
                                        当社のウェブサイトでは、皆さまがウェブサイトにアクセスされた際にブラウザからCookieを使用して情報を取得しています。Cookieを使用した情報取得については、<a href="/corporate/cookie/" target="_blank">こちら</a>をご確認ください。
                                    </p>
                                </div>
                                <div class="p-section--lv3">
                                    <p class="c-text-annotation c-note">
                                        個人情報をお預かりするにあたってのご留意事項</br>
                                        当社は、ここに掲げる目的のために必要な範囲で皆さまに個人情報のご提供を求めます。法令に基づく場合（身元や外国人の在留資格の確認、マイナンバーの提供等）を除き、ご提供は任意ですが、当社の求めに応じられない場合やご提供いただいた内容に不備があった場合は、サービスのご提供その他のご要望にお応えできないことがありますのでご了承ください。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1" id="job2">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">2. 個人情報の第三者への提供・共同利用</h2>
                        </div>
                        <div class="p-section--lv2" id="job2-1">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">2-1. 各サービスのご利用にあたっての第三者への提供</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    各サービスのご利用者の情報については、以下の場合に、サービスのご提供その他のご要望への対応に必要な範囲で、第三者へ提供することがあります。
                                </p>
                            </div>
                            <div class="c-scroll-table">
                                <div class="c-scroll-table__finger">
                                    <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                </div>
                                <table class="c-scroll-table__table">
                                    <thead class="c-scroll-table__head">
                                        <tr class="c-scroll-table__row">
                                            <th class="c-scroll-table__heading u-colwidth-150">対象となる方</th>
                                            <th class="c-scroll-table__heading u-colwidth-100">提供先</th>
                                            <th class="c-scroll-table__data">提供する目的・情報等</th>
                                        </tr>
                                    </thead>
                                    <tbody class="c-scroll-table__body">
                                        <tr class="c-scroll-table__row">
                                            <td class="c-scroll-table__heading u-colwidth-150" rowspan="2">仕事をお探しの方</td>
                                            <td class="c-scroll-table__heading u-colwidth-100">求人者</td>
                                            <td class="c-scroll-table__data">
                                                ご本人のご就業の機会の創出を目的として、次に掲げるものを、ご本人に代わって書面・口頭等により提供することがあります。<br>
                                                提供する個人情報の項目：ご提供いただいた情報<br>
                                                ※就業決定前に派遣労働者を特定する目的で提供することはありません
                                            </td>
                                        </tr>
                                        <tr class="c-scroll-table__row">
                                            <td class="c-scroll-table__heading u-colwidth-100">パーソルグループの派遣会社各社</td>
                                            <td class="c-scroll-table__data">
                                                パーソルグループの派遣会社から、ご本人に対しお仕事を紹介し、ご就業の機会の創出を目的として、次に掲げるものを、ご本人のために書面・口頭等により提供することがあります。<br>
                                                提供する個人情報の項目：年齢，性別，最終学歴，職歴・経験職務，スキル，就業状況，希望条件，その他お仕事の紹介のために必要な情報 （但し、本人を特定する情報は含みません。）
                                            </td>
                                        </tr>
                                        <tr class="c-scroll-table__row">
                                            <td class="c-scroll-table__heading u-colwidth-150" rowspan="2">派遣就業者</td>
                                            <td class="c-scroll-table__heading u-colwidth-100">派遣先</td>
                                            <td class="c-scroll-table__data">派遣先の要請に応じて、必要な書類の提出または物品の手配のために、お預かりした情報のうち必要なものを、ご本人に代わって書面・口頭等により伝達することがあります。</td>
                                        </tr>
                                        <tr class="c-scroll-table__row">
                                            <td class="c-scroll-table__heading u-colwidth-100">派遣先の関係会社等</td>
                                            <td class="c-scroll-table__data">派遣先の要請に応じて、派遣先における購買管理・業者管理・労働環境の改善等のために、契約情報・勤務状況等を、ご本人に代わって書面・口頭等により伝達することがあります。</td>
                                        </tr>
                                        <tr class="c-scroll-table__row">
                                            <td class="c-scroll-table__heading u-colwidth-150">フリーコンサルタント案件紹介サービス利用者</td>
                                            <td class="c-scroll-table__heading u-colwidth-100">フリーコンサルタント案件紹介サービスを利用する企業・団体</td>
                                            <td class="c-scroll-table__data">
                                                お申込みいただいたサービスの提供に伴って、業務の委託を希望する企業・団体へ、次に掲げるものを、ご利用者に代わって書面・口頭等により提供することがあります。<br>
                                                提供する個人情報の項目：ご提供いただいた情報、ご利用者より担当者へ通知された情報<br>
                                                <span class="c-note">
                                                    ※提供される場面において必要な項目を提供します。
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="p-section--lv2" id="job2-2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">2-2. お取引先の役職員の情報の共同利用</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループでは、グループ各社の専門性を活かしたサービスを総合的に提供するために、お取引先の役職員の方の情報を以下のとおり共同で利用いたします。
                                </p>
                            </div><div class="p-section--lv3">
                                <div class="c-scroll-table">
                                    <div class="c-scroll-table__finger">
                                        <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                    </div>
                                    <table class="c-scroll-table__table">
                                        <tbody class="c-scroll-table__body">
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-200">共同して利用する個人情報の項目</td>
                                                <td class="c-scroll-table__data">
                                                    氏名、所属組織の名称・部署名・所在地・役職名・メールアドレス・電話番号・FAX番号、お取引やご商談・ご連絡の履歴<br>
                                                    Cookie、端末情報、IPアドレス、属性情報、位置情報、広告識別子および行動履歴（メールの開封、リンクのクリックおよびウェブサイトの閲覧履歴を含む）

                                                </td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-200">共同して利用する者の範囲</td>
                                                <td class="c-scroll-table__data">パーソルグループ各社（<a href="https://www.persol-group.co.jp/corporate/group/index.html?_fsi=AgJgF53x&_fsi=v7dCQCzV" target="_blank">最新のグループ会社一覧はこちら</a>）のうち、個人情報の保護に関する法律第27条第5項第3号に基づく通知・公表を実施済みの会社</td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-200">共同して利用する者の利用目的</td>
                                                <td class="c-scroll-table__data">
                                                    パーソルグループが提供するサービスおよび関連する情報のご案内・ご提供、ご要望の聴取<br>
                                                    ※ご案内・ご提供は、電子メールやお電話等でのご連絡のほか、インターネット広告（ターゲティング広告を含む）の配信による場合もございます。<br>
                                                    ※パーソルグループ各社は、Cookie、端末情報、IPアドレス、属性情報、位置情報、広告識別子および行動履歴（メールの開封、リンクのクリックおよびウェブサイトの閲覧履歴等）などの利用ログ情報を取得し、これらの情報とパーソルグループ各社がご商談やお取引等により取得した情報その他各社が保有する個人情報とを分析し、お客様の属性や興味・関心に応じたサービス提案・情報提供・広告配信を行います。
                                                </td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-200">共同して利用する個人情報の管理責任者</td>
                                                <td class="c-scroll-table__data">
                                                    社名: パーソルホールディングス株式会社<br>
                                                    住所: 東京都渋谷区代々木2-1-1<br>
                                                    代表者: 代表取締役社長 CEO　和田 孝雄
                                                </td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-200" rowspan="3">取得方法</td>
                                                <td class="c-scroll-table__data">
                                                    <ul class="c-list" style="font-size:1.4rem">
                                                        <li class="c-list__item">名刺交換、ご商談、お取引のお申込み、イベントへのご参加やアンケート回答等、お客様からご提供頂くことによる取得</li>
                                                        <li class="c-list__item">広く一般に提供されている情報の収集による取得</li>
                                                        <li class="c-list__item">パーソルグループ各社から送付するメールの開封・閲覧やウェブサイトの閲覧に伴う取得</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <p class="c-text-annotation c-note">
                                    2-1および2-2の他にも、ご本人の同意がある場合には第三者に提供することがあります。
                                </p>
                            </div>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">2-3. 法令に基づく場合などにおける第三者への提供</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    個人情報の保護に関する法律第27条第1項各号により提供する場合（法令に基づく場合など）には、第三者に提供することがあります。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    なお、個人情報を取扱う業務の全部または一部を外部に委託することがあります。委託する場合は、十分な個人情報保護の体制を備えている委託先を選定し、機密保持の契約を締結いたします。
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="p-section--lv1" id="job3">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text" id="privacy_03">3. 個人情報に関するご要望の受付</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">3-1．ご自身の個人情報についての各種ご請求</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    「1. 個人情報の利用目的」に掲げる個人情報のうち、「3. 当社が業務の受託を受けることに伴って取得した情報」を除くものに関しては、次に掲げる対応のご請求を、ご本人または代理人から承ります。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="c-scroll-table">
                                    <div class="c-scroll-table__finger">
                                        <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                    </div>
                                    <table class="c-scroll-table__table">
                                        <tbody class="c-scroll-table__body">
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-250" rowspan="6">請求をお受けする対応</td>
                                                <td class="c-scroll-table__data">
                                                    <ul class="c-list" style="font-size:1.4rem">
                                                        <li class="c-list__item">利用目的の通知</li>
                                                        <li class="c-list__item">開示</li>
                                                        <li class="c-list__item">内容の訂正、追加または削除</li>
                                                        <li class="c-list__item">利用の停止</li>
                                                        <li class="c-list__item">消去</li>
                                                        <li class="c-list__item">第三者への提供の停止</li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    【請求のお手続き】<br>
                                    次のいずれかの方法によりお申し出ください。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="c-scroll-table">
                                    <div class="c-scroll-table__finger">
                                        <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                    </div>
                                    <table class="c-scroll-table__table">
                                        <tbody class="c-scroll-table__body">
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-250">メール・電話による請求</td>
                                                <td class="c-scroll-table__data">
                                                    下記の「3-2.個人情報の取扱いに関する苦情・相談」までお問い合わせください。
                                                    ※お電話口にて、当社所定の方法により本人または代理人であることの確認をさせていただきます。
                                                </td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-250">郵送による請求</td>
                                                <td class="c-scroll-table__data">
                                                    当社所定の「個人情報の開示・訂正・消去等の請求書」をダウンロードして必要事項を記入し、指定する書類と併せて、当社へお送りください。<br>
                                                    ■<a href="/pdf/corporate/privacy/requestform.pdf" target="_blank">個人情報の開示・訂正・消去等の請求書</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list u-mb20">
                                    <li class="c-list__item">
                                        利用目的の通知または開示を請求されるときは、通知または開示の方法を、口頭、書面、電磁的記録による提供のいずれかよりお選びいただけます。<br>
                                        電磁的記録による提供は、必要事項を記した電子ファイルを電子メールに添付する方法でのみ対応いたします。予めご了承ください。
                                    </li>
                                    <li class="c-list__item">
                                        利用の停止または消去について、要請を承り対応した後もしばらくの間は当社からのご案内が届く場合がございます。
                                    </li>
                                    <li class="c-list__item">
                                        直接お預かりした個人情報は、いかなる媒体においても返却する義務を負いません。
                                    </li>
                                    <li class="c-list__item">
                                        次の場合には請求に応じることができません。予めご了承ください。
                                        <ul class="c-list u-mb20">
                                            <li class="c-list__item">
                                                ご請求の対象となる情報が、当社の保有個人データ (※)ではない場合
                                            </li>
                                            <li class="c-list__item">
                                                当社が業務の受託を受けることに伴って取得した情報
                                            </li>
                                            <li class="c-list__item">
                                                法令に抵触するおそれがある場合
                                            </li>
                                            <li class="c-list__item">
                                                ご本人または第三者の生命、身体、財産その他の権利利益を害するおそれがある場合
                                            </li>
                                            <li class="c-list__item">
                                                当社の業務の適正な実施に著しい支障を及ぼすおそれがある場合
                                            </li>
                                            <ul>
                                    </li>
                                </ul>
                            </div>
                            <div class="p-section--lv3">
                                <p class="c-text-annotation c-note">
                                    保有個人データとは、個人情報取扱事業者が、本人から求められる上記各請求のすべてに応じることができる権限を有する個人データであって、その存否が明らかになることによって公益その他の利益が害されるものとして政令で定めるもの以外のものをいいます。
                                </p>
                            </div>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">3-2. 個人情報の取扱いに関する苦情・相談</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    当社における個人情報の取扱いに関する苦情・相談につきましては、こちらへご連絡ください。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="c-scroll-table">
                                    <div class="c-scroll-table__finger">
                                        <img class="c-scroll-table__img" src="~/img/common/icon_scroll.svg" alt="">
                                    </div>
                                    <table class="c-scroll-table__table">
                                        <tbody class="c-scroll-table__body">
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading u-colwidth-150" rowspan="3">個人の皆様</td>
                                                <td class="c-scroll-table__data u-colwidth-100">電話番号</td>
                                                <td class="c-scroll-table__data">0120-096-506</td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading">E-mail</td>
                                                <td class="c-scroll-table__data">110-techstaff@persol.co.jp</td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading">受付時間</td>
                                                <td class="c-scroll-table__data">9:00～19:00　※土日祝祭日除く</td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__heading" rowspan="2">企業ご担当者様</td>
                                                <td class="c-scroll-table__data">電話番号</td>
                                                <td class="c-scroll-table__data">0120-450-551</td>
                                            </tr>
                                            <tr class="c-scroll-table__row">
                                                <td class="c-scroll-table__data">受付時間</td>
                                                <td class="c-scroll-table__data">9:00～19:00　※土日祝祭日除く</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <h4 class="c-heading-article3__text">個人情報保護管理者</h4>
                                <p>
                                    登峰開発株式会社　事業統括本部　本部長　（ご連絡は<a href="https://persol-tech-s.co.jp/contact/" target="_blank">こちら</a>よりお願いいたします）
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1" id="job4">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">4. 個人情報の安全管理措置</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社がお預かりしている個人情報の安全管理のために講じた措置を以下のとおり公表いたします。<br>
                                    （個人情報の保護に関する法律第32条第1項に基づいて公表します）
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（基本方針の策定）</h3>
                                <p>
                                    個人情報の適正な取扱いの確保のため、個人情報保護方針を策定します。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    <span class="c-heading-article6">（個人情報の取扱いに係る社内規程の整備）</span><br>
                                    個人情報の漏えい等の防止その他個人情報の安全管理のため、個人情報の取扱いに係る社内規程を整備します。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（組織的安全管理措置）</h3>
                                <p>
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            （1）組織体制の整備<br>
                                            個人情報の取扱に係る関係者の役割を規定し、社内規程に従った組織体制を整備します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （2）個人情報の取扱いに係る規律に従った運用<br>
                                            あらかじめ整備された社内規程に従い、個人情報を取扱います。個人情報の取扱いに係る記録を、システムログや書面等で作成し、社内規程に従った運用となっているかどうか、適宜その取扱いを確認します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （3）個人情報の取扱い状況を確認する手段の整備<br>
                                            個人情報の取扱い状況を確認するため、当社に委託されるおよび当社が取得する個人情報の管理台帳を作成し、管理します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （4）漏えい等の事案に対応する体制の整備<br>
                                            漏えい等発生時の体制と手順を策定します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （5）取扱い状況の把握および安全管理措置の見直し<br>
                                            個人情報の取扱い状況について、定期的に自己点検を実施するとともに、情報管理部門や内部監査部門、外部の専門業者等によるチェックを実施して把握し、安全管理措置の評価、見直し、改善に取り組みます。
                                        </li>
                                    </ol>
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（人的安全管理措置）</h3>
                                <p>
                                    個人情報の取扱いに関する留意事項について、当社の従業者に定期的な研修や訓練を実施します。個人情報についての秘密保持に関する事項を就業規則に記載するなど当社の従業者の秘密保持義務を明らかにしています。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（物理的安全管理措置）</h3>
                                <p>
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            （1）個人情報を取り扱う区域の管理<br>
                                            個人情報を取り扱う区域の入退室管理ルールを策定します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （2）機器および電子媒体等の盗難等の防止<br>
                                            個人情報を取り扱う機器、電子媒体および書類等の盗難または紛失等を防止するための適切な措置を実施します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （3）電子媒体等を持ち運ぶ場合の漏えい等の防止<br>
                                            個人情報が記録された機器、電子媒体および書類等を持ち運ぶ場合、暗号化等の容易に個人情報が判明しないための措置を実施します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （4）個人情報が記録された機器、電子媒体等の廃棄<br>
                                            個人情報が記録された書類、機器、電子媒体等は、個人情報を復元できない方法で廃棄します。
                                        </li>
                                    </ol>
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（技術的安全管理措置）</h3>
                                <p>
                                    <ol class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            （1）アクセス制御<br>
                                            個人情報を取り扱う情報システムについて、業務上使用する必要性のある最小限の範囲となるようアクセス制御を実施して、アクセス可能な当社従業者および当該従業者が取り扱う個人情報データベース等の範囲を限定します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （2）アクセス者の識別と認証<br>
                                            個人情報を取り扱う情報システムは、当該システムを使用する当社従業者が正当なアクセス権を有する者であることを、識別した結果に基づき認証します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （3）外部からの不正アクセス等の防止<br>
                                            個人情報を取り扱う情報システムを外部からの不正アクセスまたは不正ソフトウェアから保護する仕組みを導入し、適切に運用します。
                                        </li>
                                        <li class="p-ol-list__item">
                                            （4）情報システムの使用に伴う漏えい等の防止<br>
                                            情報システムの使用に伴う個人情報の漏えい等を防止するための措置を実施し、適切に運用します。
                                        </li>
                                    </ol>
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（委託先の監督）</h3>
                                <p>
                                    個人情報の取扱いの全部または一部を第三者へ委託する場合は、委託先の第三者において個人情報を安全に管理するための措置が適切に講じられるよう、適切な委託先の選定を行います。又、選定した委託先との間では、委託契約の締結の上、定期的に監査を行う等により委託先における委託された個人情報の取扱い状況を把握するなど、適切に委託先の管理および監督を行います。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <h3 class="c-heading-article6">（外的環境の把握）</h3>
                                <p>
                                    個人情報を外国で保管する場合には、個人情報を保管している当該国における個人情報の保護に関する制度を把握した上で安全管理措置を実施します。
                                </p>
                            </div>
                        </div>
                        <div class="p-section--lv2">
                            <p class="c-text-annotation c-note">
                                このページの内容は、皆さまの個人情報の保護を図るために、また法令その他の規範の変更に対応するために変更することがあります。変更するときは、当社ウェブサイトへの掲載や電子メール等によりお知らせします。
                            </p>
                        </div>
                    </div>


                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    @*<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->

</body>
</html>


