
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="著作権、ご利用環境について等、免責事項を明記しています。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="免責事項,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>サイトのご利用にあたって ｜IT・機電エンジニアの派遣求人なら登峰開発</title>
    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">
</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">サイトのご利用にあたって</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">サイトのご利用にあたって</span>
                </li>
            </ul>
        </div>
    </div>




    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <!--記事-->
                    <!--記事見出し１-->
                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">免責事項</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    パーソルグループが運営するウェブサイト（persol-tech-s.co.jp、www.jobcheckit.com等、以下当社ウェブサイト）では、皆さまに安心してご利用いただけるよう、以下のようなセキュリティ対策を行っております。
                                </p>
                            </div>
                            <div class="p-section--lv3">
                                <div class="p-ol-list">
                                    <ul class="p-ol-list__list">
                                        <li class="p-ol-list__item">
                                            SSL（Secure Sockets Layer）の採用
                                            <p>
                                                当社ウェブサイトでは、ご利用の皆さまが個人情報を入力されるページには、SSL（Secure Sockets Layer）暗号化通信方式を採用し、日本ベリサイン株式会社の認証を受けております。SSLの採用によってご利用の皆さまに関する大切な情報が盗まれたり、故意に書き換えられたりされることを防止しております。
                                            </p>
                                        </li>
                                        <li class="p-ol-list__item">
                                            本人認証
                                            <p>
                                                当社ウェブサイトにはサービスの申し込みを行うページがありますので、なりすましを防ぐ事を目的に本人の確認をさせていただいております。画面入力いただいた情報は、当社に登録されているスタッフの方かどうかを確認するためのみに利用させていただいております。それ以外の利用は一切ございませんので、安心してご利用ください。
                                            </p>
                                        </li>
                                        <li class="p-ol-list__item">
                                            閲覧履歴等の取得について
                                            <p>
                                                当社ウェブサイトでは、ご利用の皆さまの利便性の向上、広告の配信、および統計データの取得のため、閲覧されたウェブページ等のデータ（「閲覧履歴等」といいます）を、Cookie（※）等の技術を利用して取得しています。
                                            </p>
                                            <p>
                                                また、当社ウェブサイトでは、閲覧履歴と、サイト上で入力・送信された情報その他の当社が保有する個人情報とを用いて、サービス・キャンペーンなどの情報提供、お問い合わせ対応、アンケートの依頼、ユーザ認証、サービスの改善などに利用することがあります。
                                            </p>
                                            <p>
                                                ※Cookie（Cookie）とは、ウェブサイトの運用に関連するサーバーからブラウザに送信する情報で、皆さまのコンピューターに記録されます。ただし、記録される情報には、皆さまの氏名、住所、電話番号など個人を特定する情報は含まれておりません。Cookieを使用した情報収集を受けたくない場合にはブラウザ上の設定でCookieの受け入れを拒否することができますが、ウェブサイトの機能の一部をご利用いただけなくなる場合がありますので、あらかじめご了承ください。
                                            </p>
                                            <p>
                                                また、閲覧履歴等の分析にGoogle Analytics（※）を使用しています。<br>
                                                ※Google Analyticsで閲覧履歴等が収集・処理される仕組みについては、Googleのポリシーと規約<br>（<a href="https://policies.google.com/technologies/partner-sites?hl=ja&gl=JP" target="_blank">https://policies.google.com/technologies/partner-sites?hl=ja&gl=JP</a>）をご覧ください。
                                            </p>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    当社は、充分の注意を払って本ウェブサイトに情報を掲載しております。しかしながら、当社は本ウェブサイトの情報の正確性、確実性、有用性、適時性もしくは完全性について責任を負うものではありません。また、本ウェブサイトの機能について中断、エラーの発生、本ウェブサイト及びサーバーにおけるコンピュータウィルスその他の有害物の発生等につきましては、一切保証致しません。また、皆さまが本ウェブサイトをご利用になったことにより生じるいかなる損害についても補償するものではありません。また、本ウェブサイトにリンクしている他のいかなるウェブサイトの内容にも責任を負いません。ご利用者がリンクサイトを利用される際は、そのリンクサイトの利用条件にも同意いただく必要があります。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">著作権</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社ウェブサイトおよび当社ウェブサイト上に掲載される個々の文章、写真、映像、音楽、音声、その他の著作物（以下、総称して「コンテンツ」といいます）に関する著作権は、当社または原著作者その他の権利者に帰属します。
                                </p>
                                <p>
                                    個人的な利用を目的として印字や保存等する場合、その他著作権法により認められる場合を除き、コンテンツを当社、原著作者またはその他の権利者の許諾を得ることなく、複製、公衆送信、改変、切除、他のウェブサイトへの転載等する行為は著作権法により禁止されていますので、事前に当社にご連絡の上、許諾を得ていただくようお願いいたします。なお、肖像、第三者の著作物・商標等が含まれている場合、当社が不適切と判断する場合等、ご利用をお断りする場合もあります。
                                </p>
                                <p>
                                    当社の許諾を得てコンテンツを利用する場合、当社指定の著作権表示を行ってください。当社の事前の了承なく、著作権表示を変更、削除することはできません。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">商標およびロゴマーク・著作などに関する権利</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社が運営するウェブサイトおよび広報的媒体に掲示される商標およびロゴマーク・著作などに関する権利は、当社または個々の所有者または発案者に帰属し、商標法または不正競争防止法をはじめ、各種法律により保護されております。ご使用を希望される場合は、必ず事前に当社にご連絡になり、かつ当社の許諾を得た上でご使用いただくようお願いいたします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">推奨環境</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    当社ウェブサイトにおいては、特に記述のない限り、下記の環境での閲覧を推奨します。
                                </p>
                                <div class="p-ul-list">
                                    <ul class="p-ol-list__list">
                                        <li class="p-ol-list__item">Windows10・・・Microsoft Edge、GoogleChrome（いずれも最新版）</li>
                                        <li class="p-ol-list__item">Android 9以上・・・GoogleChrome（最新版）</li>
                                        <li class="p-ol-list__item">iOS 13以上・・・Safari （最新版）</li>
                                    </ul>
                                    ※ご利用のOS・ブラウザによっては正しく表示されない場合があります
                                </div>
                                <p>
                                    また、ブラウザの設定でCSSとJavaScriptは有効になっているものとします。一部のコンテンツでは、下記のプラグインソフトが必要です。<br>
                                    Adobe Reader 最新バージョン（<a href="http://get.adobe.com/jp/reader/" target="_blank">http://get.adobe.com/jp/reader/</a>）
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">本ウェブサイトへのリンク</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本ウェブサイトにリンクを設定する場合は、その旨登峰開発株式会社までご連絡ください。URL変更の可能性があるため、トップページ（<a href="https://persol-tech-s.co.jp/">https://persol-tech-s.co.jp/</a>）へリンクされることを推奨いたします。
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">個人情報</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <p>
                                    本ウェブサイトでは、お客さまからのお問い合わせ時に、お名前、e-mailアドレス、電話番号等の個人情報をご登録いただく場合がございますが、これらの個人情報はご提供いただく際の目的以外では利用いたしません。また本ウェブサイトでは、お客さまの情報やプライバシーをお守りするために、一部、SSLによる暗号化通信を導入しております。本サイトを装ったウェブサイトによる個人情報の収集行為には、充分にご注意ください。
                                </p>
                            </div>
                        </div>
                    </div>


                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    @*<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->

</body>
</html>


