
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="人材派遣等のサービスをご利用いただくうえでの同意事項です。派遣が初めての方も安心。人材派遣で働くメリットをご案内します。大手優良企業の派遣や高時給の派遣など、【登峰開発のエンジニア派遣】サイトでは豊富な求人からあなたの希望にあった仕事をご紹介いたします。">
    <meta name="keywords" content="人材派遣サービス利用規約,派遣,派遣会社,人材派遣,仕事,登峰開発">
    <title>女性活躍推進法及び次世代育成支援対策推進法への取り組み ｜IT・機電エンジニアの派遣求人なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/infomation/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number">0</span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-simple3">
        <div class="l-visual-simple3__inner">
            <div class="l-visual-simple3__heading">
                <h1 class="l-visual-simple3__text">女性活躍推進法及び次世代育成支援対策推進法への取り組み</h1>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">女性活躍推進法及び次世代育成支援対策推進法への取り組み</span>
                </li>
            </ul>
        </div>
    </div>




    <div class="l-content-wrapper">
        <div class="l-double">
            <div class="l-double__inner">
                <main class="l-double__main">

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">登峰開発株式会社  行動計画<br>女性活躍推進法への取り組み</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">計画期間</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    2021年 4 月 1 日～ 2023 年 3 月 31 日
                                </p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">目標</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>
                                    2023年 4 月までに女性管理職比率 30 ％（％（+5.5 ％）を目指す
                                </p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">取り組み内容</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>将来的な継続就業意欲向上取り組み事項として、以下3点を実施する。</p>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        両立支援：産育休復職者向け、管理職向けのガイドブックの配布、交流会実施
                                    </li>
                                    <li class="c-list__item">
                                        キャリア開発：キャリア開発研修、管理職定義の明確化
                                    </li>
                                    <li class="c-list__item">
                                        風土醸成：キャリアに関する講演会の実施、コミュニティの発足
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">女性の活躍に関する情報公表</h2>
                        </div>
                        <div class="p-section--lv2">
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        <p>
                                            労働者の 1 か月あたりの平均残業時間： 17.0 時間 ※2018 年度実績
                                        </p>
                                    </li>
                                    <li class="c-list__item">
                                        <p>
                                            管理職に占める女性労働者の割合： 24.6%
                                        </p>
                                    </li>
                                </ul>
                            </div>


                        </div>
                    </div>

                    <div class="p-section--lv1">
                        <div class="c-heading-article2">
                            <h2 class="c-heading-article2__text">次世代育成支援対策推進法への取り組み</h2>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">計画期間</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>2021年 4 月 1 日～ 2023 年 3 月 31 日</p>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">当社の取り組む目標</h3>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        妊娠中や出産後の女性労働者の健康の確保について、労働者に対する制度の周知や情報提供及び相談体制の整備の実施
                                    </li>
                                    <li class="c-list__item">
                                        育児休業に関する規定の整備、労働者の育児休業中における待遇及び育児休業後の労働条件に関する事項についての周知
                                    </li>
                                    <li class="c-list__item">
                                        育児休業をしている労働者の職業能力の開発及び向上のための情報提供
                                    </li>
                                    <li class="c-list__item">
                                        在宅勤務やテレワーク等の場所に捉われない働き方の導入
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="p-section--lv2">
                            <div class="c-heading-article3">
                                <h3 class="c-heading-article3__text">取り組み内容</h3>
                            </div>
                            <div class="p-section--lv3">
                                <p>産育休者への取り組み事項として、以下2点を実施する。</p>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        情報提供：社内イントラネットを活用した制度広報、社内外の産育休者を対象（もしくは含む）とした研修の告知
                                    </li>
                                    <li class="c-list__item">
                                        両立支援：産休、復職者向け、管理職向けのガイド配布、座談会の継続運営、復職時面談の継続実施
                                    </li>
                                </ul>
                            </div>
                            <div class="p-section--lv3">
                                <p>場所に捉われない働き方の導入として、以下を実施する。</p>
                            </div>
                            <div class="p-section--lv3">
                                <ul class="c-list">
                                    <li class="c-list__item">
                                        継続した、リモートワーク制度の活用方法の検討
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>


                </main>
                <aside class="l-double__aside">
                    <div class="p-nav-side p-nav-side--utility">
                        <ul class="p-nav-side__list">
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/personal/">
                                    <p class="p-nav-side__label">個人情報保護方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/privacy/">
                                    <p class="p-nav-side__label">個人情報の取り扱いについて</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/policy/">
                                    <p class="p-nav-side__label">情報セキュリティ基本方針</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/kiyaku.html">
                                    <p class="p-nav-side__label">人材派遣サービス利用規約</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/woman/">
                                    <p class="p-nav-side__label">女性活躍推進法及び次世代育成支援対策推進法への取り組み</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/info/terms-of-use.html">
                                    <p class="p-nav-side__label">サイトのご利用にあたって</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                            <li class="p-nav-side__item">
                                <a class="p-nav-side__link" href="/corporate/disclosure/">
                                    <p class="p-nav-side__label">労働者派遣法に基づく派遣事業の情報公開について</p>
                                    <span class="p-nav-side__arrow"></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </aside>

            </div>
        </div>
    </div>


    @*<div class="l-footer-banner">
        <div class="l-footer-banner__inner">
            <ul class="p-footer-banner">
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/i-engineer/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_01.png" alt="i:Engineer">
                        <div class="p-footer-banner__text">「エンジニアってすごい！」を発信するメディア</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/hatalabo/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_02.png" alt="はたラボ">
                        <div class="p-footer-banner__text">派遣のニュース・仕事情報・業界イロハ</div>
                    </a>
                </li>
                <li class="p-footer-banner__item">
                    <a class="p-footer-banner__link" href="/u_29/lp/">
                        <img class="p-footer-banner__img" src="~/img/common/banner_03.png" alt="U_29">
                        <div class="p-footer-banner__text">未経験からエンジニアへ！無料の就職支援プログラム</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>*@
    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner">
            <div class="p-footer-top">
                <div class="p-footer-top__left">-->
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>
    </div>-->


</body>
</html>


