@{
    ViewData["Title"] = "会员一览";
}

<div class="memberInfo2" id="section-2">
    <table>
        <tr>
            <td>会员名称：</td>
            <td><input class="form-control" type="text" v-model="iptName" /></td>
            <td>会员邮箱：</td>
            <td>
                <input class="form-control" type="text" v-model="iptEmail" />
            </td>
            <td>
                <input type="button" class="ic_shoulei hide_txt png btn btn-primary btn-lg btnShoppingCart" value="查询" @@click="handleGetMembers" />
                <input type="button" class="ic_shoulei hide_txt png btn btn-primary btn-lg btnShoppingCart" value="清空" @@click="handleClear" />
            </td>
        </tr>
    </table>
</div>
<div>

    <table style="margin-top:10px;">
        <tbody v-for="(member, i) in members">
            <tr>
                <td style="width: 20%; vertical-align: top;" rowspan="4">
                    <img :src="member.pic" style="width: 300px; height: 173px; margin: 5px;" alt="">
                </td>
                <td colspan="5" style="height: 40px; font-size: 19px; text-align: left; color: #00A600; font-weight: bold; padding-left: 10px;">
                    <span id="ctl00_body_RepeaterAllListInfo_ctl00_Label1">{{member.name}}</span>
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: left;">
                    <span style="border: 1px solid #666666; margin: 15px; font-size: 12px; color: #666666; padding: 2px; width: 30%;">邮箱</span>{{member.email}}
                    <span style="border: 1px solid #666666; margin: 15px; font-size: 12px; color: #666666; padding: 2px; width: 30%;">创建时间</span>{{member.createTime}}
                    <span style="border: 1px solid #666666; margin: 15px; font-size: 12px; color: #666666; padding: 2px; width: 30%;">类型</span>{{member.type}}
                    <span style="border: 1px solid #666666; margin: 15px; font-size: 12px; color: #666666; padding: 2px; width: 30%;">权限</span>{{member.identity}}
                </td>
            </tr>
            <tr>
                <td colspan="6" style="text-align: center; width: 200px; vertical-align: middle;">
                    <span>
                        <input type="button" class="btn btn-primary" @@click="handleDetail(member)" value="详细">
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <table border="0">
        <tr>
            <td colspan="5" style="border-bottom:0px !important">
                <el-pagination v-model:current-page="pagination.pageIndex"
                               :page-sizes="[12, 24, 36]"
                               v-model:page-size="pagination.pageSize"
                               layout="total, sizes, prev, pager, next, jumper"
                               :total="pagination.totalCount"
                               @@size-change="handleGetMembers"
                               @@current-change="handleGetMembers">
                </el-pagination>
            </td>
        </tr>
    </table>
</div>

<el-dialog v-model="ensureDialogVisible"
           title="会员详细信息">
    <el-form :model="registerForm"
             status-icon
             label-width="120px"
             class="ensure-form">
        <el-form-item label="头像：">
            <img :src="registerForm.pic" style="width: 300px; height: 173px; margin: 5px;" alt="">
        </el-form-item>
        <el-form-item label="会员ID：">
            {{registerForm.userName}}
        </el-form-item>
        <el-form-item label="真实姓名：">
            {{registerForm.name}}
        </el-form-item>
        <el-form-item label="手机：">
            {{registerForm.phone}}
        </el-form-item>
        <el-form-item label="电子邮箱：">
            {{registerForm.email}}
        </el-form-item>
        <el-form-item label="性别：">
            {{registerForm.gender === 0 ? '女' : '男'}}
        </el-form-item>
        <el-form-item label="国家：">
            {{registerForm.country}}
        </el-form-item>
        <el-form-item label="地址：">
            {{registerForm.address}}
        </el-form-item>
        <el-form-item label="QQ：">
            {{registerForm.qq}}
        </el-form-item>
        <el-form-item label="微信：">
            {{registerForm.weChat}}
        </el-form-item>
        <el-form-item label="创建时间：">
            {{registerForm.createTime}}
        </el-form-item>
        <el-form-item label="更新时间：">
            {{registerForm.updateTime}}
        </el-form-item>
        <el-form-item label="身份：">
            {{registerForm.type}}
        </el-form-item>
        <el-form-item label="权限：">
            {{registerForm.identity}}
        </el-form-item>
        <el-form-item label="公司名称：">
            {{registerForm.gsmc}}
        </el-form-item>
        <el-form-item label="公司地址：">
            {{registerForm.gsdz}}
        </el-form-item>
        <el-form-item label="公司传真：">
            {{registerForm.gscz}}
        </el-form-item>
        <el-form-item label="公司电话：">
            {{registerForm.gsdh}}
        </el-form-item>
        <el-form-item label="公司邮箱：">
            {{registerForm.gsyx}}
        </el-form-item>
    </el-form>
    <template #footer>
        <span class="dialog-footer">
            <el-button @@click="ensureDialogVisible = false">关闭</el-button>
        </span>
    </template>
</el-dialog>



@section Scripts{

    <script>
        createVueApp({
            /*返回行程数据*/
            data() {
                return {
                    members: [],
                    pagination: {
                        pageIndex: 1,
                        pageSize: 12,
                        totalCount: 0,
                    },
                    iptName: '',
                    iptEmail: '',
                    ensureDialogVisible: false,
                    registerForm: {}
                }
            },
            /*页面加载完成后回调下方的行程列表方法*/
            mounted() {
                this.handleGetMembers()
            },
            /*获取行程列表*/
            methods: {
                handleGetMembers() {
                    this.pagination.Name = this.iptName
                    this.pagination.Email = this.iptEmail
                    this.getMembers(this.pagination).then(res => {
                        this.members = res.items
                        this.pagination.totalCount = res.totalCount
                    })
                },
                /*发送请求*/
                getMembers(pagination) {
                    return this.$http.post('/System/MemberList', pagination)
                },
                handleClear() {
                    this.iptName = ''
                    this.iptEmail = ''
                },
                handleDetail(row) {
                    this.ensureDialogVisible = true
                    this.registerForm = row
                }
            }
        })

    </script>
}
