@*<div class="footer-wrapper">
    <div class="content-inner">
        <div class="footer-nav">
            <div class="footer-box">
                <div class="footer-item">
                    <div class="footer-item-title">
                        <a href="#">方針規約</a>
                    </div>
                    <div class="footer-item-li">
                        <a href="#">個人情報保護方針</a>
                    </div>
                    <div class="footer-item-list">
                        <div class="footer-item-li">
                            <a href="#">個人情報の取り扱いについて</a>
                        </div>
                        <div class="footer-item-li">
                            <a href="#">情報セキュリティ基本方針</a>
                        </div>
                        <div class="footer-item-li">
                            <a href="#">人材派遣サービス利用規約</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-link">
            <a href="#">個人情報保護方針</a>
            <a href="#">個人情報の取り扱いについて</a>
            <a href="#">情報セキュリティ基本方針</a>
            <a href="#">人材派遣サービス利用規約</a>
        </div>
        <div class="footer-link">
            <a href="#">サイトのご利用にあたって</a>
            <a href="#">労働者派遣法に基づく派遣事業の情報</a>
            <a href="#"></a>
            <a href="#"></a>
        </div>
        <div class="footer-link">
            <a href="#">お問い合わせ</a>
            <a href="#">よくあるご質問</a>
            <a href="#">サイトマップ</a>
            <a href="#"></a>
        </div>
    </div>
</div>*@

<div class="logo-copyright">
    <div class="logo-slogan">
        <a href="/Link/Disclosure/">個人情報保護方針</a>
        <a href="/Link/Index/">個人情報の取り扱いについて</a>
        <a href="/Link/Policy/">情報セキュリティ基本方針</a>
        <a href="/Link/Info/">人材派遣サービス利用規約</a>
        <a href="/Corporate/contact/">お問い合わせ</a>
        <a href="/Link/Woman/">よくあるご質問</a>
        <a href="/Link/Terms/">サイトマップ</a>
    </div>
    <div class="copyright">&copy; THD CO.,LTD</div>
</div>