@{
    string type = string.Empty;
    if (User.Identity.IsAuthenticated)
        type = User.Claims?.FirstOrDefault(c => c.Type == System.Security.Claims.ClaimTypes.Role).Value;
}
<style type="text/css">
    .googleAPI {
        background-color:red;
        border:none;
    }
</style>
<div class="header">
    <div class="header-wrapper font-weight-bold">
            <a class="header-logo" href="/">
                <p><img src="/img/logo/logo1.jpg" alt="株式会社登峰開発" width="60"></p>
                <div style="font-size: 26px; font-weight: bold; color: #3c3c3c; display: block;margin-left:3px;">
                    株式会社登峰開発
                    <span style="font-size: 15px; display: block; color: #3c3c3c; margin-top: -6px;">www.tohodevlop.co.jp</span>
                </div>
            </a>
            <div class="header-list">
                <a href="/Dispatch/">人材派遣</a>
                <a href="/Sale/">製品販売</a>
                <a href="/Soft/">ソフト開発</a>
                <a href="/Technology/">先進技術応援</a>
            </div>
            @*<div class="header-consult">
                <a href="/contact/">お問い合わせ</a>
            </div>*@
            @* google 翻译标签 *@
            @*<div id="google_translate_element"></div>
            <div class="header-btn googleAPI" id="headerBtn">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </div>*@
    </div>
    <div class="header-list-phone">
        <a href="/worker/">仕事を見つける</a>
        <a href="#">会社の代表者</a>
        <a href="/company/">私たちに関しては</a>
        <a href="/recruit/">雇用情報</a>
        <a href="/company/branch/">拠点一覧</a>
    </div>
</div>