@section Styles{
    <style>
        .message-info {
            max-width: 900px;
            padding: 15px;
            font-size: 16px;
            margin: 50px auto;
        }
    </style>
}

<div class="message-info">ありがとうございます。すぐご返信しますので、よろしくお願いいたします。！</div>

