<!-- End Google Tag Manager -->
<!--common_css-->
<link href="~/css/common1.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<body>
    <div id="wrapper">
        <!-- header
            <header data-include="header"></header>-->
        <!-- /header -->
        <div id="category_top" class="container" style="width:100%">
            <!-- main-visual -->
            <div id="category_company" class="main-visual">
                <div class="main-visual-inner">
                    <h1 class="main-ttl">先進技術応援</h1>
                </div>
            </div>
            <!-- /main-visual -->
            <div class="contents">
                <div class="contents-inner">
                    <!-- breadcrumbs -->
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list">
                            <li class=""><a href="/">トップページ</a></li>
                            <li>先進技術応援</li>
                        </ul>
                    </div>
                    <!-- /breadcrumbs -->
                </div>
                <div class="contents-inner">
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- link-box-area -->
                        <div class="link-box-area">
                            <div class="link-box-block">
                                <a class="link" href="/company/profile.html">
                                    <p class="img"><img src="/img/company/pht_company_01.jpg" alt="会社概要"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">モノのインターネット<br>（Iot）</p>
                                        <p class="text">
                                            デバイスが急増する中、まだ接続されていないデバイスを接続することで、有益な情報を迅速に取得することができます。HPEのIoTソリューションでは、インテリジェントエッジでより多くの有益な情報を引き出すことにより、従来とは異なる方法で効率を向上させて顧客との関係を構築し、新規ビジネスを開拓することが可能になります。
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/message.html">
                                    <p class="img"><img src="/img/company/pht_company_02.jpg" alt="社長メッセージ"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">ビックデータ<br>（Big Data）</p>
                                        <p class="text">
                                            売上データ等の社内情報や社外情報を幅広く収集・分析することで、売上への影響を予測できるようになり、注力事業の決定や戦略立案が行えます。
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/history.html">
                                    <p class="img"><img src="/img/company/pht_company_03.jpg" alt="沿革"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">人工知能<br>（AI）</p>
                                        <p class="text">私たちは創業以来、加速するテクノロジーの進化に挑戦し続けてきました。
                                            AIをはじめとした先端テクノロジーが新しい時代を切り開く中で、
                                            変化に順応するだけでなく新たな可能性を追求し、
                                            より付加価値の高いサービスを提供できる、選ばれ続ける会社を目指します。
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="link-box-block">
                                    <a class="link" href="/company/news.html">
                                        <p class="img"><img src="/img/company/pht_company_05.jpg" alt="ニュース"></p>
                                        <div class="link-box-text">
                                            <p class="ttl">ニュース</p>
                                            <p class="text">当社の最新ニュースをご紹介します。</p>
                                        </div>
                                    </a>
                                </div>*@
                        </div>
                        <!-- /link-box-area -->
                    </div>
                    <!-- /main-content -->
                </div>
            </div>
            <!-- sideNavi -->
            <div data-category-include="sideNavi"></div>
            <!-- /sideNavi -->
            <!-- footerNavi
            <div data-include="footerNavi"></div>-->
            <!-- /footerNavi -->
        </div>
        <!-- footer
        <footer data-include="footer"></footer>-->
        <!-- /footer -->
    </div><!-- /#wrapper -->
    <!--common_JS-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/import.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <!--local_JS-->
    <script type="text/javascript" src="/js/company.js"></script>
</body>
