<!-- End Google Tag Manager -->
<!--common_css-->
<link href="~/css/common1.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<body>
    <div id="wrapper">
        <!-- header
            <header data-include="header"></header>-->
        <!-- /header -->
        <div id="category_top" class="container" style="width:100%">
            <!-- main-visual -->
            <div id="category_company" class="main-visual">
                <div class="main-visual-inner">
                    <h1 class="main-ttl">人材派遣</h1>
                </div>
            </div>
            <!-- /main-visual -->
            <div class="contents">
                <div class="contents-inner">
                    <!-- breadcrumbs -->
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list">
                            <li class=""><a href="/">トップページ</a></li>
                            <li>人材派遣</li>
                        </ul>
                    </div>
                    <!-- /breadcrumbs -->
                </div>
                <div class="contents-inner">
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- link-box-area -->
                        <div class="link-box-area">
                            <div class="link-box-block">
                                <a class="link" href="/company/profile.html">
                                    <p class="img"><img src="/img/company/pht_company_01.jpg" alt=""></p>
                                    <div class="link-box-text">
                                        <p class="ttl">開発系エンジニア</p>
                                        <p class="text">
                                            ・システムエンジニア（SE）<br>
                                            ・プログラマー<br>
                                            ・Webエンジニア<br>
                                            ・アプリケーションエンジニア<br>
                                            ・ソフトウェアエンジニア<br>
                                            ・テストエンジニア<br>
                                            ・ブリッジエンジニア<br>
                                            ・AIエンジニア<br>
                                            ・組み込み系エンジニア
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/message.html">
                                    <p class="img"><img src="/img/company/pht_company_02.jpg" alt=""></p>
                                    <div class="link-box-text">
                                        <p class="ttl">インフラエンジニア</p>
                                        <p class="text">
                                            ・ネットワークエンジニア<br>
                                            ・サーバーエンジニア<br>
                                            ・データベースエンジニア<br>
                                            ・セキュリティエンジニア<br>
                                            ・クラウドエンジニア
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/history.html">
                                    <p class="img"><img src="/img/company/pht_company_03.jpg" alt=""></p>
                                    <div class="link-box-text">
                                        <p class="ttl">IT関連のエンジニア</p>
                                        <p class="text">
                                            ・セールスエンジニア<br>
                                            ・フィールドエンジニア<br>
                                            ・サポートエンジニア<br>
                                            ・社内SE<br>
                                            ・院内SE
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="link-box-block">
                                    <a class="link" href="/company/news.html">
                                        <p class="img"><img src="/img/company/pht_company_05.jpg" alt="ニュース"></p>
                                        <div class="link-box-text">
                                            <p class="ttl">ニュース</p>
                                            <p class="text">当社の最新ニュースをご紹介します。</p>
                                        </div>
                                    </a>
                                </div>*@
                        </div>
                        <!-- /link-box-area -->
                    </div>
                    <!-- /main-content -->
                </div>
            </div>
            <!-- sideNavi -->
            <div data-category-include="sideNavi"></div>
            <!-- /sideNavi -->
            <!-- footerNavi
            <div data-include="footerNavi"></div>-->
            <!-- /footerNavi -->
        </div>
        <!-- footer
        <footer data-include="footer"></footer>-->
        <!-- /footer -->
    </div><!-- /#wrapper -->
    <!--common_JS-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/import.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <!--local_JS-->
    <script type="text/javascript" src="/js/company.js"></script>
</body>
