<!-- End Google Tag Manager -->
<!--common_css-->
<link href="~/css/common1.css" rel="stylesheet">
<link href="~/css/style.css" rel="stylesheet">
<body>
    <div id="wrapper">
        <!-- header
            <header data-include="header"></header>-->
        <!-- /header -->
        <div id="category_top" class="container" style="width:100%">
            <!-- main-visual -->
            <div id="category_company" class="main-visual">
                <div class="main-visual-inner">
                    <h1 class="main-ttl">製品販売・サービス</h1>
                </div>
            </div>
            <!-- /main-visual -->
            <div class="contents">
                <div class="contents-inner">
                    <!-- breadcrumbs -->
                    <div class="breadcrumbs">
                        <ul class="breadcrumbs-list">
                            <li class=""><a href="/">トップページ</a></li>
                            <li>製品販売・サービス</li>
                        </ul>
                    </div>
                    <!-- /breadcrumbs -->
                </div>
                <div class="contents-inner">
                    <!-- main-content -->
                    <div class="main-content">
                        <!-- link-box-area -->
                        <div class="link-box-area">
                            <div class="link-box-block">
                                <a class="link" href="/company/profile.html">
                                    <p class="img"><img src="/img/company/pht_company_01.jpg" alt="会社概要"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">販売管理ソフト</p>
                                        <p class="text">
                                            ・簡単、手軽に伝票作成<br>
                                            ・シンプルでわかりやすい操作画面<br>
                                            ・かんたんに見栄えの良い伝票作成<br>
                                            ・台帳登録不要の簡単導入<br>
                                            ・予測候補リストで作業効率アップ<br>
                                            ・伝票の転記機能<br>
                                            ・各種台帳のインポートに対応<br>
                                            ・伝票のPDF出力が可能<br>
                                            ・オンラインバックアップに対応<br>
                                            ・締め請求の処理に対応
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/message.html">
                                    <p class="img"><img src="/img/company/pht_company_02.jpg" alt="社長メッセージ"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">通販サイト</p>
                                        <p class="text">
                                            ・B2C/B2B/B2O/C2C/C2B/O2O/G2B
                                            ・受注取込機能<br>
                                            ・ステータス管理機能<br>
                                            ・メール送信機能<br>
                                            ・クレーム管理機能
                                        </p>
                                    </div>
                                </a>
                            </div>
                            <div class="link-box-block">
                                <a class="link" href="/company/history.html">
                                    <p class="img"><img src="/img/company/pht_company_03.jpg" alt="沿革"></p>
                                    <div class="link-box-text">
                                        <p class="ttl">プラットフォーム運営</p>
                                        <p class="text">
                                            ・業務フローの「見える化」<br>
                                            ・業務プロセスの効率化<br>
                                            ・イニシャルコスト・ランニングコストの削減
                                        </p>
                                    </div>
                                </a>
                            </div>
                            @*<div class="link-box-block">
                                    <a class="link" href="/company/news.html">
                                        <p class="img"><img src="/img/company/pht_company_05.jpg" alt="ニュース"></p>
                                        <div class="link-box-text">
                                            <p class="ttl">ニュース</p>
                                            <p class="text">当社の最新ニュースをご紹介します。</p>
                                        </div>
                                    </a>
                                </div>*@
                        </div>
                        <!-- /link-box-area -->
                    </div>
                    <!-- /main-content -->
                </div>
            </div>
            <!-- sideNavi -->
            <div data-category-include="sideNavi"></div>
            <!-- /sideNavi -->
            <!-- footerNavi
            <div data-include="footerNavi"></div>-->
            <!-- /footerNavi -->
        </div>
        <!-- footer
        <footer data-include="footer"></footer>-->
        <!-- /footer -->
    </div><!-- /#wrapper -->
    <!--common_JS-->
    <script type="text/javascript" src="/lib/jquery/dist/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/js/import.js"></script>
    <script type="text/javascript" src="/js/script.js"></script>
    <!--local_JS-->
    <script type="text/javascript" src="/js/company.js"></script>
</body>
