<div>
    <table>
        <tbody>
            <tr>
                <td style="padding-left:26px;"><b>亲爱的 @Model.UserName</b></td>
            </tr>
            <tr>
                <td style="padding-left:26px;">
                    <p>
                        还差一步，就能踏上富士畅游之路啦。<br>
                        快！点击下面这个链接激活吧。
                    </p>
                    <a href="@Model.Url">@Model.Url</a>
                </td>
            </tr>
        </tbody>
    </table><br><br><div style="width:1px;height:0px;overflow:hidden"><img style="width:0;height:0" src="http://sendcloud_track.usermail.nowcoder.com/track/open/eyJ1c2VyX2lkIjogMjk2NTksICJ0YXNrX2lkIjogIiIsICJlbWFpbF9pZCI6ICIxNTA1MTM0MTg5ODk0XzI5NjU5XzI5NjU5XzI3NDIuc2MtMTBfOV84MF80Ni1pbmJvdW5kMCRqaWFqaWFuajIwNTdAcXEuY29tIiwgInNpZ24iOiAiYmE1OTg4YTIxYjAwNDg1NjMyOTM0ZjhhODQ3MWZhYzAiLCAidXNlcl9oZWFkZXJzIjoge30sICJsYWJlbCI6IDAsICJjYXRlZ29yeV9pZCI6IDY4NTUyfQ==.gif"></div>

    <style type="text/css">
        .qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {
            display: none !important;
        }</style>
</div>