@{
    ViewData["Title"] = "密码变更";
}
@using THD.Web.Models.User
@model UserPwdViewModel


<div class="MyRoomAddDiv">
    <p>■密码修改</p>
    <form id="theform" asp-area="" asp-controller="MyRoom" asp-action="PasswordChange" enctype="multipart/form-data" method="post">
        <input type="hidden" id="Id" name="Id" value="@Model.Id" />
        <table>
            <tbody>
                <tr>
                    <td>旧密码：</td>
                    <td>
                        <input asp-for="OldPassword" class="form-control" />
                        <span asp-validation-for="OldPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>新密码：</td>
                    <td>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </td>
                </tr>
                <tr>
                    <td>再次输入新密码：</td>
                    <td>
                        <input asp-for="ConfirmePassword" class="form-control" />
                        <span asp-validation-for="ConfirmePassword" class="text-danger"></span>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            <button class="ic_shoulei hide_txt png btn btn-primary btn-lg margin-left200" type="submit">密码变更</button>
        </p>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}