<div class="MyRoomAddDiv">
    <p>■直销产品</p>
    <table>
        <tr>
            <td>直销名称</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtShopTitle" style="width: 100%;" name="txtShopTitle" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>直销品牌</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtShopBrand" style="width: 100%;" name="txtShopArea" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>直销种类</td>
            <td colspan="2">
                <select class="form-control float" style="width: 100px" id="ddlShopType" name="ddlShopType">
                    <option selected="selected" value="1">请选择</option>
                    <option value="2">化妆品</option>
                    <option value="3">电子</option>
                    <option value="4">服装</option>
                    <option value="5">礼品</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>直销类别</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtShopCategory" style="width: 100%;" name="txtShopDays" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>直销原价</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtShopPrice" style="width: 100%;" name="txtShopPrice" placeholder="请填写数字。" />
            </td>
        </tr>
        <tr>
            <td>直销现价</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtShopPriceNew" style="width: 100%;" name="txtShopPriceNew" placeholder="请填写数字。" />
            </td>
        </tr>
        <tr>
            <td>直销特色</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtaShopFeatures" name="txtaShopFeatures"></textarea>
            </td>
        </tr>
        <tr>
            <td>直销简介</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtaShopContents" name="txtaShopContents"></textarea>
            </td>
        </tr>
        <tr>
            <td>直销封面1</td>
            <td>
                <input type="file" id="FileUploadShopImg1" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo1" style="width: 600px" name="txtShopInfo1" placeholder="请填写图片1的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片2</td>
            <td>
                <input type="file" id="FileUploadShopImg2" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo2" style="width:600px" name="txtInfo2" placeholder="请填写图片2的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片3</td>
            <td>
                <input type="file" id="FileUploadShopImg3" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo3" style="width:600px" name="txtInfo3" placeholder="请填写标题3的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片4</td>
            <td>
                <input type="file" id="FileUploadShopImg4" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo4" style="width:600px" name="txtInfo4" placeholder="请填写图片4的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片5</td>
            <td>
                <input type="file" id="FileUploadShopImg5" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo5" style="width:600px" name="txtInfo5" placeholder="请填写图片5的相关简介。" Rows="6"></textarea>
            </td>
        </tr>
        <tr>
            <td>直销图片6</td>
            <td>
                <input type="file" id="FileUploadShopImg6" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo6" style="width:600px" name="txtInfo6" placeholder="请填写图片6的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片7</td>
            <td>
                <input type="file" id="FileUploadShopImg7" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo7" style="width:600px" name="txtInfo7" placeholder="请填写图片7的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片8</td>
            <td>
                <input type="file" id="FileUploadShopImg8" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo8" style="width:600px" name="txtInfo8" placeholder="请填写图片8的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片9</td>
            <td>
                <input type="file" id="FileUploadShopImg9" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo9" style="width:600px" name="txtInfo9" placeholder="请填写图片9的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片10</td>
            <td>
                <input type="file" id="FileUploadShopImg10" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo10" style="width:600px" name="txtInfo10" placeholder="请填写图片10的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片11</td>
            <td>
                <input type="file" id="FileUploadShopImg11" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo11" style="width:600px" name="txtInfo11" placeholder="请填写图片11的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片12</td>
            <td>
                <input type="file" id="FileUploadShopImg12" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo12" style="width:600px" name="txtInfo12" placeholder="请填写图片12的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片13</td>
            <td>
                <input type="file" id="FileUploadShopImg13" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo13" style="width:600px" name="txtInfo13" placeholder="请填写图片13的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>直销图片14</td>
            <td>
                <input type="file" id="FileUploadShopImg14" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo14" style="width:600px" name="txtInfo14" placeholder="请填写图片14的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
        <tr>
            <td>温馨提示15</td>
            <td>
                <input type="file" id="FileUploadShopImg15" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtShopInfo15" style="width:600px" name="txtInfo15" placeholder="请填写图片15的相关简介。" Rows="6"></textarea>
            </td>

        </tr>
    </table>
    <p>
        <button class="ic_shoulei hide_txt png btn btn-primary btn-lg margin-left120" id="submitok" onclick="onDirectClick()">直销产品提交</button>
        <button class="ic_shoulei hide_txt png btn btn-primary btn-lg marginLeft200px" id="Button1">清空</button>
    </p>
</div>

<script>
    function onDirectClick() {
        alert(123)
    }
</script>