<div class="MyRoomAddDiv">
    <p>■直销询价</p>

    <p style="width: 100%; text-align: left; margin: 10px;">首页 > 会员空间 > 自我介绍 > 自我介绍</p>
    <table style="width: 100%; height: 600px; margin: 30px;">
        <tr>
            <td style="height: 100px">自我介绍:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox4" style="width: 100%;height:90px" name="txtZwjs" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height: 100px">兴趣爱好:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox5" style="width: 100%;height:90px" name="txtZgxl" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height: 100px">特长:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox6" style="width: 100%;height:90px" name="txtZlv1" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height: 100px">喜欢的食物:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox7" style="width: 100%;height:90px" name="txtZlv1" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height: 100px">擅长的运动:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox8" style="width: 100%;height:90px" name="txtZlv1" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
        <tr>
            <td style="height: 100px">其他补充:　</td>
            <td>
                <textarea type="text" class="form-control" id="TextBox9" style="width: 100%;height:90px" name="txtZlv1" placeholder="请输入真实信息"></textarea>
            </td>
        </tr>
    </table>

    <button type="button" class="btn btn-primary glyphicon glyphicon-search">自我介绍更新</button>
</div>