<div class="myroomPhotoInfo">
    <p>■美食预订</p>
    <p style="width: 100%; text-align: left; margin: 10px;">首页 > 我的空间 > 个人资料 > 退会申请</p>
    1111111111111111111111111111111111111111111111111111111111
</div>