<div class="myroomMemberInfo">
    <p>■产品结算</p>
    <p style="width: 100%; text-align: left;">■会员信息</p>
    <table>
        <tr>
            <td style="width: 100px;">东洋会员id：</td>
            <td>
                <label id="lbUserID"></label>
            </td>
        </tr>
        <tr>
            <td>姓名：</td>
            <td>
                <label id="lbUserName"></label>
            </td>
        </tr>
        <tr>
            <td>会员身份：</td>
            <td>
                <label id="lbType"></label>
            </td>
        </tr>
        <tr>
            <td>入会日期：</td>
            <td>
                <label id="lbRegdate"></label>
            </td>
        </tr>
        <tr>
            <td>会员邮箱：</td>
            <td>
                <label id="lbMail"></label>
            </td>
        </tr>
        <tr>
            <td>会员地址：</td>
            <td>
                <label id="lbAddress"></label>
            </td>
        </tr>

        <tr>
            <td>QQ：</td>
            <td>
                <label id="label17"></label>
            </td>
        </tr>
        <tr>
            <td>微信：</td>
            <td>
                <label id="label18"></label>
            </td>
        </tr>
        <tr style="border-bottom: none;">
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>公司名称：</td>
            <td>
                <label id="label19"></label>
            </td>
        </tr>
        <tr>
            <td>公司电话：</td>
            <td>
                <label id="label20"></label>
            </td>
        </tr>
        <tr>
            <td>公司邮箱：</td>
            <td>
                <label id="label21"></label>
            </td>
        </tr>
        <tr>
            <td>公司传真：</td>
            <td>
                <label id="label22"></label>
            </td>
        </tr>
        <tr>
            <td>公司地址：</td>
            <td colspan="3" style="vertical-align: top">
                <label id="label23"></label>
            </td>
        </tr>
    </table>
    <button type="button" class="btn btn-primary glyphicon glyphicon-search">个人信息编辑</button>
    <button type="button" class="btn btn-primary glyphicon glyphicon-search">个人信息更新</button>
</div>