<div class="myroomPhotoInfo">
    <p>■票券预订</p>
    <p style="width: 100%; text-align: left; margin: 10px;">首页 > 我的空间 > 个人资料 > 照片修改</p>

    @*<asp:Repeater id="Repeater14">
            <ItemTemplate>
                <table>
                    <tr>
                        <td>
                            <img src="<%#Eval(" picture1")%>" alt="" />
                        </td>
                    </tr>
                </table>
            </ItemTemplate>
        </asp:Repeater>*@
    <button type="button" class="btn btn-primary glyphicon glyphicon-search">图片编辑</button>
    <button type="button" class="btn btn-primary glyphicon glyphicon-search">图片更新</button>
</div>