<div class="MyRoomAddDiv">
    <p>■产品更新</p>
    <p style="width: 100%; text-align: left; margin: 10px;">首页 > 会员空间 > 自我介绍 > 简历书下载</p>
    <ul>
        <li>
            <h3><a href="../file/A4.xls">Excel版</a></h3>
        </li>
        <li>
            <h3><a href="../file/A4.doc">Word版</a></h3>
        </li>
        <li>
            <h3><a href="../file/A4.pdf">PDF版</a></h3>
        </li>
    </ul>
</div>