<div class="MyRoomAddDiv">
    <p>■工作产品</p>
    <table>
        <tr>
            <td>公司名称</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobCompanyName" name="txtJobCompanyName" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>公司分类</td>
            <td colspan="2">
                <select class="form-control float" style="width: 100px" id="ddlJobType" name="ddlJobType">
                    <option selected="selected" value="1">请选择</option>
                    <option value="2">互联网IT</option>
                    <option value="3">金融</option>
                    <option value="4">房地产/建筑</option>
                    <option value="5">贸易/零售/物流</option>
                    <option value="6">服务业</option>
                    <option value="7">市场/销售</option>
                    <option value="8">人事/财务/行政</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>公司类别</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobCategory" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>雇佣形式</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobHire"></textarea>
            </td>
        </tr>
        <tr>
            <td>招聘职位</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobPosition"></textarea>
            </td>
        </tr>
        <tr>
            <td>招聘人数</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobNumber"></textarea>
            </td>
        </tr>
        <tr>
            <td>工资时薪</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobMoney"></textarea>
            </td>
        </tr>
        <tr>
            <td>工作待遇</td>
            <td colspan="2">
                <input type="text" class="form-control float" id="txtWelfare1" style="width: 100px; color: #ae0000" placeholder="长期欢迎" value="长期欢迎" />
                <input type="text" class="form-control float" id="txtWelfare2" style="width: 100px; color: #ae0000" placeholder="高收入" value="高收入" />
                <input type="text" class="form-control float" id="txtWelfare3" style="width: 100px; color: #ae0000" placeholder="无经验OK" value="无经验OK" />
                <input type="text" class="form-control float" id="txtWelfare4" style="width: 100px; color: #ae0000" placeholder="短期可" value="短期可" />
                <input type="text" class="form-control float" id="txtWelfare5" style="width: 100px; color: #ae0000" placeholder="有交通费" value="有交通费" />
                <input type="text" class="form-control float" id="txtWelfare6" style="width: 100px; color: #ae0000" placeholder="车站附近" value="车站附近" />
                <input type="text" class="form-control float" id="txtWelfare7" style="width: 100px; color: #ae0000" placeholder="不加班可" value="不加班可" />
                <input type="text" class="form-control float" id="txtWelfare8" style="width: 100px; color: #ae0000" placeholder="服装自由" value="服装自由" />
                <input type="text" class="form-control float" id="txtWelfare9" style="width: 100px; color: #ae0000" placeholder="主妇学生可" value="主妇学生可" />
                <input type="text" class="form-control float" id="txtWelfare10" style="width: 100px; color: #ae0000" placeholder="" value="社员雇佣制度" />
                <input type="text" class="form-control float" id="txtWelfare11" style="width: 100px; color: #ae0000" placeholder="不问年龄" value="不问年龄" />
                <input type="text" class="form-control float" id="txtWelfare12" style="width: 100px; color: #ae0000" placeholder="一周3天可" value="一周3天可" />
                <input type="text" class="form-control float" id="txtWelfare13" style="width: 100px; color: #ae0000" placeholder="夜勤可" value="夜勤可" />
                <input type="text" class="form-control float" id="txtWelfare14" style="width: 100px; color: #ae0000" placeholder="无履历书可" value="无履历书可" />
                <input type="text" class="form-control float" id="txtWelfare15" style="width: 100px; color: #ae0000" placeholder="平日可" value="平日可" />
                <input type="text" class="form-control float" id="txtWelfare16" style="width: 100px; color: #ae0000" placeholder="周六周日可" value="周六周日可" />
                <input type="text" class="form-control float" id="txtWelfare17" style="width: 100px; color: #ae0000" placeholder="副业可" value="副业可" />
                <input type="text" class="form-control float" id="txtWelfare18" style="width: 100px; color: #ae0000" placeholder="双重工作可" value="双重工作可" />
                <input type="text" class="form-control float" id="txtWelfare19" style="width: 100px; color: #ae0000" placeholder="不加班可" value="不加班可" />
                <input type="text" class="form-control float" id="txtWelfare20" style="width: 100px; color: #ae0000" placeholder="日薪制度" value="日薪制度" />
            </td>
        </tr>
        <tr>
            <td>工作时间</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobTime"></textarea>
            </td>
        </tr>
        <tr>
            <td>工作地点</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobPlace"></textarea>
            </td>
        </tr>
        <tr>
            <td>任职要求</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtJobCondition"></textarea>
            </td>
        </tr>

        <tr>
            <td>工作内容</td>
            <td colspan="2">
                <textarea class="form-control" rows="6" id="txtaJobInfo"></textarea>
            </td>
        </tr>
        <tr>
            <td>工作图片1</td>
            <td>
                <input type="file" id="FileUpload1" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo1" style="width: 100%;" rows="6" placeholder="请填写图片1的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片2</td>
            <td>
                <input type="file" id="FileUpload2" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo2" style="width: 100%;" rows="6" placeholder="请填写图片2的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片3</td>
            <td>
                <input type="file" id="FileUpload3" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo3" style="width: 100%;" rows="6" placeholder="请填写图片3的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片4</td>
            <td>
                <input type="file" id="FileUpload4" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo4" style="width: 100%;" rows="6" placeholder="请填写图片4的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片5</td>
            <td>
                <input type="file" id="FileUpload5" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo5" style="width: 100%;" rows="6" placeholder="请填写图片5的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片6</td>
            <td>
                <input type="file" id="FileUpload6" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo6" style="width: 100%;" rows="6" placeholder="请填写图片6的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片7</td>
            <td>
                <input type="file" id="FileUpload7" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo7" style="width: 100%;" rows="6" placeholder="请填写图片7的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片8</td>
            <td>
                <input type="file" id="FileUpload8" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo8" style="width: 100%;" rows="6" placeholder="请填写图片8的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>工作图片9</td>
            <td>
                <input type="file" id="FileUpload9" />
            </td>
            <td>
                <textarea type="text" class="form-control" id="txtJobInfo9" style="width: 100%;" rows="6" placeholder="请填写图片9的相关简介。"></textarea>
            </td>

        </tr>
        <tr>
            <td>公司电话</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobTel" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>联络手机</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobIphone" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>电子邮箱</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobMail" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>微信</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobWeChat" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>QQ</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobQQ" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>Line</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobLine" placeholder="" />
            </td>
        </tr>
        <tr>
            <td>联系人</td>
            <td colspan="2">
                <input type="text" class="form-control" id="txtJobContact" placeholder="" />
            </td>
        </tr>
    </table>
    <p>
        <button CssClass="ic_shoulei hide_txt png btn btn-primary btn-lg marginLeft200px" id="Button9">工作产品提交</button>
        <button class="ic_shoulei hide_txt png btn btn-primary btn-lg margin-left120" id="Button8">清空</button>
    </p>
</div>