@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<link rel="stylesheet" type="text/css" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="/css/style[sm].css">
<link rel="stylesheet" type="text/css" href="/css/_mixin.css">
<link rel="stylesheet" type="text/css" href="/css/_normalize.css">

<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">


    <div class="l-visual-heading l-visual-heading--article">
        <div class="l-visual-heading__inner">
            <div class="l-visual-heading__img">
                <img class="l-visual-heading__bg u-use--pc" src="/img/corporate/infomation/img_visual_lower_pc.jpg" alt="">
                <img class="l-visual-heading__bg u-use--sp" src="/img/corporate/infomation/img_visual_lower_sp.jpg" alt="">
            </div>
            <div class="l-visual-heading__box l-visual-heading__box--type3">
                <div class="p-page-title-2">
                    <p class="p-page-title-2__heading p-page-title-2__heading--type2">企業情報</p>
                    <p class="p-page-title-2__sub">CORPORATE</p>
                </div>
            </div>
        </div>
    </div>

    <div class="l-contents-navigation l-contents-navigation--type2">
        <div class="p-local-navigation">
            <ul class="p-local-navigation__list">
                <li class="p-local-navigation__item">
                    <a class="p-local-navigation__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-local-navigation__item">
                    <a class="p-local-navigation__link" href="/corporate/service/">サービス</a>
                </li>
                <li class="p-local-navigation__item">
                    <a class="p-local-navigation__link" href="/corporate/news/">ニュース</a>
                </li>
                <li class="p-local-navigation__item">
                    <a class="p-local-navigation__link" href="/corporate/recruiting/">採用情報</a>
                </li>
            </ul>
        </div><!-- /.p-local-navigation -->
        <div class="l-contents-navigation__inner">
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">会社概要・沿革</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="l-content-wrapper">
        <!-- start page unique -->
        <div class="l-single">
            <div class="l-single__inner">
                @*<div class="p-contents-head2">
                    <div class="c-heading-article1">
                        <h1 class="c-heading-article1__text">会社概要・沿革</h1>
                    </div>
                </div>*@
                <div class="p-section--lv1 p-section--single">
                    <div class="c-heading-article2">
                        <h2 class="c-heading-article2__text">会社概要</h2>
                    </div>
                    <div class="p-section--lv2">
                        <div class="p-section--lv3">
                            <table class="c-table">
                                <tbody class="c-table__body">
                                    <tr class="c-table__row">
                                        <th class="c-table__heading u-colwidth-250">
                                            社名
                                        </th>
                                        <td class="c-table__data">
                                            株式会社登峰開発
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            所在地
                                        </th>
                                        <td class="c-table__data">
                                            大阪府大阪市西区京町堀1丁目4番地16号
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            資本金
                                        </th>
                                        <td class="c-table__data">
                                            3000万円
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            代表取締役社長
                                        </th>
                                        <td class="c-table__data">
                                           　高山　明宇
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            設立
                                        </th>
                                        <td class="c-table__data">
                                            2015年12月
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            事業内容
                                        </th>
                                        <td class="c-table__data">
                                            ソフト開発、ITエンジニア派遣、IT・ものづくりに関する受託、製品販売など
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            従業員数
                                        </th>
                                        <td class="c-table__data">
                                            30人(2022年12月まで募集予定）
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            許可番号
                                        </th>
                                        <td class="c-table__data">
                                            ■労働者派遣事業<br>
                                            ■有料職業紹介事業
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            TEL
                                        </th>
                                        <td class="c-table__data">
                                            06-4862-5490
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            FAX
                                        </th>
                                        <td class="c-table__data">
                                            06-6885-6522
                                        </td>
                                    </tr>
                                    <tr class="c-table__row">
                                        <th class="c-table__heading">
                                            ホームページ
                                        </th>
                                        <td class="c-table__data">
                                            https://www.tohodevelop.net
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--end single inner-->
        </div>
        <!-- end page unique -->
    </div>
</body>


