
<!DOCTYPE html>
<html lang="ja" class="theme-company">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="author" content="登峰開発株式会社">
    <meta name="description" content="登峰開発のサービス一覧はこちら。IT・機電エンジニアとして働きたい個人の方、IT・機電エンジニアソリューションをご希望の法人の方向けにサービスを展開しています。">
    <meta name="keywords" content="登峰開発,パーソルグループ,サービス一覧">
    <title>サービス一覧 ｜IT・機電エンジニアの人材派遣なら登峰開発</title>



    <meta name="apple-mobile-web-app-title" content="登峰開発のエンジニア派遣">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="apple-touch-icon" href="~/img/icon.png">
    <link rel="stylesheet" type="text/css" href="~/css/style1.css">
    <meta charset="utf-8">
    <style>
        .p-page-title-2{color: #000000;}
        .p-page-title-2__sub{color: #000000 !important;}

        .p-info-top .p-info-top__item {background-color: #fff;}
    </style>

</head>
<body marginwidth="0" marginheight="0" leftmargin="0" topmargin="0">
    <div class="l-header">
        <div class="l-header__inner">
            <div class="l-header__left">
                <a class="l-header__img p-logo-header" href="/">
                    <img class="p-logo__img" src="~/img/common/icon_logo_01.svg" alt="登峰開発">
                </a>
            </div>
            <div class="l-header__right">
                <div class="l-header__navigation">
                    <ul class="l-header__sub p-utility-navigation">
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/outline/">
                                企業情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/service/">
                                法人のお客様へ
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/corporate/recruiting/">
                                採用情報
                            </a>
                        </li>
                        <li class="p-utility-navigation__item">
                            <a class="p-utility-navigation__link" href="/contact/">
                                お問い合わせ
                            </a>
                        </li>
                    </ul>
                    <ul class="l-header__main p-global-navigation">
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/jobsearch/">
                                求人を検索
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/bene/">
                                福利厚生
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/skillup/">
                                スキルアップ支援
                            </a>
                        </li>
                        <li class="p-global-navigation__item">
                            <a class="p-global-navigation__link" href="/guide/">
                                派遣就業ガイド
                            </a>
                        </li>
                    </ul>
                </div>
                <ul class="l-header__menu p-header-tools">
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/jobsearch/">
                            <img class="p-header-tools__img p-header-tools__img--serch" src="~/img/common/icon_search_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">求人検索</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="#" onclick="window.open('/keep/index.html', 'kentouListDetail', 'width=650,height=450');">
                            <div class="p-header-tools__imgwrap">
                                <img class="p-header-tools__img p-header-tools__img--list" src="~/img/common/icon_star_01.svg"
                                     alt="">
                                <span class="p-header-tools__badge">
                                    <span class="p-header-tools__number"></span>
                                </span>
                            </div>
                            <span class="p-header-tools__label">検討リスト</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/entryFormPre/">
                            <img class="p-header-tools__img p-header-tools__img--regist" src="~/img/common/icon_memo_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">新規登録</span>
                        </a>
                    </li>
                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link" href="/mypage/account/login/">
                            <img class="p-header-tools__img p-header-tools__img--login" src="~/img/common/icon_user_01.svg"
                                 alt="">
                            <span class="p-header-tools__label">ログイン</span>
                        </a>
                    </li>

                    <li class="p-header-tools__item">
                        <a class="p-header-tools__link p-button-humberger js-sp-menu-opner" href="#">
                            <span class="p-button-humberger__border"></span>
                            <span class="p-button-humberger__open">メニュー</span>
                            <span class="p-button-humberger__close">閉じる</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="p-navigation-sp">
            <ul class="p-navigation-sp__top p-navigation-sp__top--toja">
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/jobsearch/">求人検索</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/bene/">福利厚生</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/skillup/">スキルアップ支援</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--toja">
                    <a class="p-navigation-sp__link p-navigation-sp__link--toja" href="/guide/">派遣就業ガイド</a>
                </li>
            </ul>
            <ul class="p-navigation-sp__bottom">
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/outline/">企業情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/business/">法人のお客様へ</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/corporate/recruiting/">採用情報</a>
                </li>
                <li class="p-navigation-sp__item p-navigation-sp__item--2">
                    <a class="p-navigation-sp__link" href="/contact/">お問い合わせ</a>
                </li>
            </ul>
        </div>

    </div>


    <div class="l-visual-heading">
        <div class="l-visual-heading__inner">
            <div class="l-visual-heading__img">
                <img class="l-visual-heading__bg u-use--pc" src="~/img/corporate/news/img_visual_01_pc.jpg" alt="">
                <img class="l-visual-heading__bg u-use--sp" src="~/img/corporate/news/img_visual_01_sp.jpg" alt="">
            </div>
            <div class="l-visual-heading__box">
                <div class="p-page-title-2">
                    <h1 class="p-page-title-2__heading">サービス一覧</h1>
                    <p class="p-page-title-2__sub">SERVICE</p>
                </div>
            </div>
        </div>
    </div>
    <div class="l-contents-navigation">
        <div class="l-contents-navigation__inner l-contents-navigation__inner--type2">
            <div class="p-local-navigation">
                <ul class="p-local-navigation__list">
                    <li class="p-local-navigation__item">
                        <a class="p-local-navigation__link" href="/corporate/outline/">企業情報</a>
                    </li>
                    <li class="p-local-navigation__item">
                        <a class="p-local-navigation__link" href="/corporate/service/">サービス</a>
                    </li>
                    <li class="p-local-navigation__item">
                        <a class="p-local-navigation__link" href="/corporate/news/">ニュース</a>
                    </li>
                    <li class="p-local-navigation__item">
                        <a class="p-local-navigation__link" href="/corporate/recruiting/">採用情報</a>
                    </li>
                </ul>
            </div><!-- /.p-local-navigation -->
            <ul class="p-breadcrumbs">
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/">トップ</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <a class="p-breadcrumbs__link" href="/corporate/">コーポレート</a>
                </li>
                <li class="p-breadcrumbs__item">
                    <span class="p-breadcrumbs__link">サービス一覧</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="l-content-wrapper">
        <!-- start page unique -->
        <div class="l-single l-single--bg2">
            <div class="l-single__inner--full">
                <div class="p-visual-heading">
                    <div class="p-visual-heading__background">
                        <img class="p-visual-heading__img u-use--pc" src="~/img/corporate/service/img_01_pc.jpg" alt="">
                        <img class="p-visual-heading__img u-use--sp" src="~/img/corporate/service/img_01_sp.jpg" alt="">
                    </div>
                    <h2 class="p-visual-heading__text">法人向けサービス</h2>
                </div>
            </div>
        </div>
        <div class="l-single--bg u-mb0">
            <div class="l-single__inner">
                <div class="p-section--lv1 p-section--single">
                    <p class="u-align--center--pc">
                        ITエンジニア、機電（ものづくり）エンジニアの派遣サービスを主軸とし、新技術領域（RPA、セキュリティ等）にも対応いたします。<br>
                        未経験若年層のITエンジニア雇用（人材紹介・紹介予定派遣）もご相談ください。
                    </p>
                </div>
                <div class="p-section--lv1">
                    <div class="p-box-link">
                        <ul class="p-box-link__list">
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">ITエンジニアサービス</h3>
                                <p class="p-box-link__text">
                                    情報通信、IT/インターネット、EC分野を中心とした幅広い業界に対して、高付加価値・高品質な「技術サービス」をご提供いたします。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/corporate/business/iteng/">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">機電エンジニアサービス</h3>
                                <p class="p-box-link__text">
                                    開発フェーズである設計・解析・生産技術において、外部活用ニーズに幅広くお応えします。上流工程から下流工程までご提案いたします。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/corporate/business/electro/">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">新技術領域 <br class="u-use--sp">(RPA・セキュリティ等)</h3>
                                <p class="p-box-link__text">
                                    RPA、IoT、セキュリティ、MBD、ドローン等の新技術領域へのニーズにも対応可能です。即戦力となる人材をご提案いたします。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/corporate/newtechs/">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">リモートワークサービス</h3>
                                <p class="p-box-link__text">
                                    リモートワークを取り入れ、日本全国の優秀なエンジニアへアプローチしませんか？サービス利用にあたりお困りのことがあればぜひご相談ください。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/corporate/business/remote-work/">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">テックアドバイザー</h3>
                                <p class="p-box-link__text">
                                    IT技術の活用支援や、企業の経営課題解決に対し豊富な知見を持つ人材をご提案いたします。貴社の課題を詳細にお聞かせください。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/techadviser/">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">U_29 (若年層雇用促進)</h3>
                                <p class="p-box-link__text">
                                    IT業界への就職を目指す、20代若年層の求職者をご紹介することで貴社の採用プロセスを省力化いたします。
                                </p>
                                <a class="p-box-link__button c-button c-button--green" href="/u_29/client/">
                                    詳しく見る
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="p-section--lv1">
                    <div class="p-section--lv2">
                        <div class="p-info-top">
                            <ul class="p-info-top__list">
                                <li class="p-info-top__item">
                                    <a class="p-info-top__link" href="/corporate/business/eng-utilize/">
                                        <p class="p-info-top__date">2021.04.01</p>
                                        <div class="p-info-top__contents">
                                            <h3 class="p-info-top__heading">【採用ご担当者向け】エンジニア活用ノウハウ</h3>
                                            <p class="p-info-top__text">
                                                優秀なエンジニアを採用し、働き続けてもらうために。企業が取り組むべき採用活動や就業後のフォローとして押さえておきたいポイントをご紹介します。
                                            </p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="p-section--lv1">
                    <div class="p-box-link">
                        <ul class="p-box-link__list">
                            <li>
                                <img class="p-visual-heading__img u-use--pc" src="~/img/corporate/service/img_banner.jpg" alt="IT・機械・電気エンジニアの派遣なら登峰開発" width="600px;">
                                <img class="p-visual-heading__img u-use--sp" src="~/img/corporate/service/img_banner.jpg" alt="IT・機械・電気エンジニアの派遣なら登峰開発">
                            </li>
                        </ul>
                        <p class="u-align--center">話題のCMをチェック！<a href="https://youtu.be/uNEoreaEOAU" target="_blank">詳しくはこちら</a></p>
                    </div>
                </div>

            </div>
        </div>
        <div class="l-single l-single--bg2" id="anc01">
            <div class="l-single__inner--full">
                <div class="p-visual-heading">
                    <div class="p-visual-heading__background">
                        <img class="p-visual-heading__img u-use--pc" src="~/img/corporate/service/img_02_pc.jpg" alt="">
                        <img class="p-visual-heading__img u-use--sp" src="~/img/corporate/service/img_02_sp.jpg" alt="">
                    </div>
                    <h2 class="p-visual-heading__text">個人向けサービス</h2>
                </div>
            </div>
        </div>
        <div class="l-single--bg">
            <div class="l-single__inner">
                <div class="p-section--lv1 p-section--single">
                    <p class="u-align--center">
                        ITエンジニア、機電（ものづくり）エンジニアとして派遣就業をご希望の方へ求人をご紹介いたします。『U_29（アンダー29）』では未経験若年層を対象とし、ITエンジニアとしての正社員就業をサポートいたします。
                    </p>
                </div>
                <div class="p-section--lv1">
                    <div class="p-box-link">
                        <ul class="p-box-link__list">
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">エンジニア派遣サービス</h3>
                                <p class="p-box-link__text">
                                    IT・機電エンジニアの高時給案件を多数保有。Webでの簡単登録でスピーディなお仕事紹介が可能です。待遇面もぜひご確認ください。
                                </p>
                                <a class="p-box-link__button p-box-link__button--blank c-button c-button--green" href="/" target="_blank">
                                    詳しく見る
                                </a>
                            </li>
                            <li class="p-box-link__item">
                                <h3 class="p-box-link__heading">U_29 (若年層雇用促進)</h3>
                                <p class="p-box-link__text">
                                    20代必見！未経験からエンジニアになれる育成プログラム。選べる３つの受講スタイル＆最短1か月で正社員としての就業が可能です。
                                </p>
                                <a class="p-box-link__button p-box-link__button--blank c-button c-button--green" href="/u_29/lp/" target="_blank">
                                    詳しく見る
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="l-single">
            <div class="l-single__inner">
                <div class="p-section--lv1">
                    <div class="p-column-4">
                        <ul class="p-column-4__list">
                            <li class="p-column-4__item">
                                <a class="p-column-4__link" href="/corporate/business/reason/">
                                    <div class="p-column-4__img c-thumbnail c-thumbnail--xsmall">
                                        <img class="c-thumbnail__img" src="~/img/corporate/service/img_03.jpg" alt="">
                                    </div>
                                    <h3 class="p-column-4__heading">弊社が選ばれる理由</h3>
                                    <p class="p-column-4__text c-text-description">
                                        海外にまで広がる採用ネットワークを活かし、多様な人材採用・就業支援を実現いたします。
                                    </p>
                                </a>
                            </li>
                            <li class="p-column-4__item">
                                <a class="p-column-4__link" href="/corporate/business/flow/">
                                    <div class="p-column-4__img c-thumbnail c-thumbnail--xsmall">
                                        <img class="c-thumbnail__img" src="~/img/corporate/service/img_04.jpg" alt="">
                                    </div>
                                    <h3 class="p-column-4__heading">ご利用の流れ</h3>
                                    <p class="p-column-4__text c-text-description">
                                        ご依頼内容・就業条件などを詳しくヒアリング上、最適なご利用方法をご提案いたします。
                                    </p>
                                </a>
                            </li>
                            <li class="p-column-4__item">
                                <a class="p-column-4__link" href="/corporate/business/contract/">
                                    <div class="p-column-4__img c-thumbnail c-thumbnail--xsmall">
                                        <img class="c-thumbnail__img" src="~/img/corporate/service/img_05.jpg" alt="">
                                    </div>
                                    <h3 class="p-column-4__heading">契約形態</h3>
                                    <p class="p-column-4__text c-text-description">
                                        派遣契約、アウトソーシング、有料職業紹介、紹介予定派遣より契約形態をお選びいただけます。
                                    </p>
                                </a>
                            </li>
                            <li class="p-column-4__item">
                                <a class="p-column-4__link" href="/corporate/business/faq/">
                                    <div class="p-column-4__img c-thumbnail c-thumbnail--xsmall">
                                        <img class="c-thumbnail__img" src="~/img/corporate/service/img_06.jpg" alt="">
                                    </div>
                                    <h3 class="p-column-4__heading">よくあるご質問</h3>
                                    <p class="p-column-4__text c-text-description">
                                        ご質問事項をまとめております。ご利用いただく際、ご不明点がございましたらご一読ください。
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- end page unique -->
    </div>


    <!--<div class="l-footer">
        <a class="p-page-top" href="#"></a>
        <div class="l-footer__inner l-footer__inner--border">
            <div class="p-footer-top">
                <div class="p-footer-top__left">
                    <!--コンポーネント検討中-->
                    <!--<a class="p-footer-top__heading" href="/">登峰開発</a>
                    <ul class="p-footer-sns">
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--facebook" href="http://facebook.com/persoltech"></a>
                        </li>
                        <li class="p-footer-sns__item">
                            <a class="p-footer-sns__link p-footer-sns__link--twitter" href="http://twitter.com/persol_tech"></a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-top__right">
                    <ul class="p-footer-navigation">
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/infomation/">企業情報</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/service/">サービス一覧</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/category/news/">ニュース</a>
                        </li>
                        <li class="p-footer-navigation__item">
                            <a class="p-footer-navigation__link" href="/corporate/recruiting/">採用情報</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="p-footer-bottom">-->
                <!--フッターサイトマップ-->
                <!--<div class="p-footer-sitemap">
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <a class="p-footer-sitemap__link u-use--pc" href="/jobsearch/">求人検索</a>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">求人検索</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item u-use--sp">
                                <a class="p-footer-sitemap__link" href="/jobsearch/">求人検索トップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/it/">IT</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/web/">Web・クリエイティブ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kiden/">機電</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kanto/">関東</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/kansai/">関西</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/tokai/">東海</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/ttp/">紹介予定派遣</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/language/">語学を活かす</a>
                            </li>
                        </ul>
                    </div>
                    <div class="p-footer-sitemap__box">
                        <div class="p-footer-sitemap__heading">
                            <b class="u-use--pc">就業について</b>
                            <a class="p-footer-sitemap__title u-use--sp" href="#">就業について</a>
                            <span class="p-footer-sitemap__icon"></span>
                        </div>
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/bene/">福利厚生</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/skillup/">スキルアップ支援</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/guide/">派遣就業ガイド</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="p-footer-sitemap--bottom">
                    <div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/contact/">お問い合わせ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/faq/">よくあるご質問</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/sitemap.html">サイトマップ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/staff/JobMailMagagine/start.html">お仕事情報メルマガ</a>
                            </li>-->
                            <!--以下SPのみ表示させる-->
                            <!--<li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/infomation/">会社情報</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/service/">サービス一覧</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/news/">ニュース</a>
                            </li>
                            <li class="p-footer-sitemap__item p-footer-sitemap__item--sp">
                                <a class="p-footer-sitemap__link" href="/corporate/recruiting/">採用情報</a>
                            </li>
                        </ul>
                    </div>-->
                    <!--PC表示　SP非表示-->
                    <!--<div class="p-footer-sitemap__box">
                        <ul class="p-footer-sitemap__list">
                            <li class="p-footer-sitemap__item">
                                <p class="p-footer-sitemap__heading">
                                    運営サービス・運営サイト
                                </p>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/u_29/">U_29</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/hatalabo/">はたラボ</a>
                            </li>
                            <li class="p-footer-sitemap__item">
                                <a class="p-footer-sitemap__link" href="/i-engineer/">i:ENGINEER</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="p-footer-simple">
                <div class="p-footer-simple__left">
                    <ul class="p-footer-utility">
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/personal/" target="_blank">個人情報保護方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/privacy/" target="_blank">個人情報の取り扱いについて</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/corporate/policy/" target="_blank">情報セキュリティ基本方針</a>
                        </li>
                        <li class="p-footer-utility__item">
                            <a class="p-footer-utility__link" href="/info/kiyaku.html" target="_blank">人材派遣サービス利用規約</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/woman/" target="_blank">女性活躍推進法及び次世代育成支援対策推進法への取り組み</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/info/terms-of-use.html" target="_blank">サイトのご利用にあたって</a>
                        </li>
                        <li class="p-footer-utility__item p-footer-utility__item--wide">
                            <a class="p-footer-utility__link" href="/corporate/disclosure/" target="_blank">労働者派遣法に基づく派遣事業の情報</a>
                        </li>
                    </ul>
                </div>
                <div class="p-footer-simple__right u-use--pc">
                    <ul class="p-footer-marks">
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="http://www.jassa.jp/association/special_bk/009/index.html"
                               target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_jassa_staff.gif"
                                     alt="労働者派遣事業の適正な運営に向けて（2008）JASSA">
                            </a>
                        </li>
                        <li class="p-footer-marks__item">
                            <a class="p-footer-marks__link" href="https://privacymark.jp/" target="_blank">
                                <img class="p-footer-marks__img" src="~/img/common/img_privacy.gif" alt="プライバシーマーク">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>-->
        @*<div class="l-footer__copy">
            <div class="p-footer-copy">
                <div class="p-footer-copy__contents">
                    <div class="p-footer-copy__left">
                        <a href="https://www.persol-group.co.jp/" class="p-footer-copy__link" target="_blank">
                            <img class="p-footer-copy__logo" src="~/img/common/icon_logo_02.svg" alt="PERSOL">
                        </a>
                    </div>
                    <div class="p-footer-copy__right">
                        <img class="p-footer-copy__img" src="~/img/common/icon_vision.svg" alt="はたらいて、笑おう。">
                    </div>
                </div>
                <p class="p-copy">&copy;PERSOL TECHNOLOGY STAFF CO.,LTD.</p>
            </div>
        </div>*@
    </div>-->

    <!-- Google Tag Manager 20170101 -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NQ29X4" height="0" width="0"
                style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
(function (w, d, s, l, i) {
    w[l] = w[l] || []; w[l].push({
      'gtm.start':
        new Date().getTime(), event: 'gtm.js'
    }); var f = d.getElementsByTagName(s)[0],
      j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
  })(window, document, 'script', 'dataLayer', 'GTM-NQ29X4');</script>
    <!-- End Google Tag Manager 20170101 -->


</body>
</html>


