USE [HQCY]
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cart](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pid] [nvarchar](150) NULL,
	[img1] [nvarchar](150) NULL,
	[country] [nvarchar](50) NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
	[price] [int] NULL,
	[num] [int] NULL,
	[totalPrice] [int] NULL,
	[del] [bit] NULL,
	[datein] [nvarchar](50) NULL,
	[userID] [nvarchar](50) NULL,
	[keyword] [nvarchar](50) NULL,
	[payID] [nvarchar](150) NULL,
	[info] [nvarchar](max) NULL,
	[dateEnd] [nvarchar](50) NULL,
	[dateStart] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblFood]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblFood](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[area] [nvarchar](50) NULL,
	[info] [nvarchar](max) NULL,
	[contents] [nvarchar](max) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[info11] [nvarchar](500) NULL,
	[info12] [nvarchar](500) NULL,
	[info13] [nvarchar](500) NULL,
	[info14] [nvarchar](500) NULL,
	[info15] [nvarchar](500) NULL,
	[info16] [nvarchar](500) NULL,
	[info17] [nvarchar](500) NULL,
	[info18] [nvarchar](500) NULL,
	[info19] [nvarchar](500) NULL,
	[info20] [nvarchar](500) NULL,
	[img1] [nvarchar](max) NULL,
	[img2] [nvarchar](max) NULL,
	[img3] [nvarchar](max) NULL,
	[img4] [nvarchar](max) NULL,
	[img5] [nvarchar](max) NULL,
	[img6] [nvarchar](max) NULL,
	[img7] [nvarchar](max) NULL,
	[img8] [nvarchar](max) NULL,
	[img9] [nvarchar](max) NULL,
	[img10] [nvarchar](max) NULL,
	[img11] [nvarchar](max) NULL,
	[img12] [nvarchar](max) NULL,
	[img13] [nvarchar](max) NULL,
	[img14] [nvarchar](max) NULL,
	[img15] [nvarchar](max) NULL,
	[img16] [nvarchar](max) NULL,
	[img17] [nvarchar](max) NULL,
	[img18] [nvarchar](max) NULL,
	[img19] [nvarchar](max) NULL,
	[img20] [nvarchar](max) NULL,
	[datein] [nvarchar](50) NULL,
	[pid] [nvarchar](150) NULL,
	[map] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[supplier] [nvarchar](50) NULL,
	[features] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblGuide]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblGuide](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[area] [nvarchar](50) NULL,
	[info] [nvarchar](max) NULL,
	[contents] [nvarchar](max) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[img1] [nvarchar](500) NULL,
	[img2] [nvarchar](500) NULL,
	[img3] [nvarchar](500) NULL,
	[img4] [nvarchar](500) NULL,
	[img5] [nvarchar](500) NULL,
	[img6] [nvarchar](500) NULL,
	[img7] [nvarchar](500) NULL,
	[img8] [nvarchar](500) NULL,
	[img9] [nvarchar](500) NULL,
	[img10] [nvarchar](500) NULL,
	[datein] [nvarchar](50) NULL,
	[pid] [nvarchar](150) NULL,
	[map] [nvarchar](500) NULL,
	[video] [nvarchar](500) NULL,
	[supplier] [nvarchar](500) NULL,
	[features] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblGuide] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPickup]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPickup](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[area] [nvarchar](50) NULL,
	[info] [nvarchar](max) NULL,
	[contents] [nvarchar](max) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[img1] [nvarchar](500) NULL,
	[img2] [nvarchar](500) NULL,
	[img3] [nvarchar](500) NULL,
	[img4] [nvarchar](500) NULL,
	[img5] [nvarchar](500) NULL,
	[img6] [nvarchar](500) NULL,
	[img7] [nvarchar](500) NULL,
	[img8] [nvarchar](500) NULL,
	[img9] [nvarchar](500) NULL,
	[img10] [nvarchar](500) NULL,
	[datein] [nvarchar](50) NULL,
	[pid] [nvarchar](150) NULL,
	[map] [nvarchar](150) NULL,
	[video] [nvarchar](150) NULL,
	[supplier] [nvarchar](150) NULL,
	[featrues] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL,
 CONSTRAINT [PK_tblPickup] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblPlay]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblPlay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[address] [nvarchar](350) NULL,
	[area] [nvarchar](50) NULL,
	[volumeRate] [nvarchar](50) NULL,
	[traffic] [nvarchar](350) NULL,
	[price] [int] NULL,
	[type] [nvarchar](50) NULL,
	[homeLevel] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[img1] [nvarchar](max) NULL,
	[img2] [nvarchar](max) NULL,
	[img3] [nvarchar](max) NULL,
	[img4] [nvarchar](max) NULL,
	[img5] [nvarchar](max) NULL,
	[img6] [nvarchar](max) NULL,
	[img7] [nvarchar](max) NULL,
	[img8] [nvarchar](max) NULL,
	[img9] [nvarchar](max) NULL,
	[img10] [nvarchar](max) NULL,
	[img11] [nvarchar](max) NULL,
	[img12] [nvarchar](max) NULL,
	[img13] [nvarchar](max) NULL,
	[img14] [nvarchar](max) NULL,
	[img15] [nvarchar](max) NULL,
	[img16] [nvarchar](max) NULL,
	[img17] [nvarchar](max) NULL,
	[img18] [nvarchar](max) NULL,
	[img19] [nvarchar](max) NULL,
	[img20] [nvarchar](max) NULL,
	[map] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[releaseDate] [nvarchar](150) NULL,
	[pid] [nvarchar](250) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[info11] [nvarchar](500) NULL,
	[info12] [nvarchar](500) NULL,
	[info13] [nvarchar](500) NULL,
	[info14] [nvarchar](500) NULL,
	[info15] [nvarchar](500) NULL,
	[info16] [nvarchar](500) NULL,
	[info17] [nvarchar](500) NULL,
	[info18] [nvarchar](500) NULL,
	[info19] [nvarchar](500) NULL,
	[info20] [nvarchar](500) NULL,
	[priceNew] [int] NULL,
	[supplier] [nvarchar](50) NULL,
	[features] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblStay]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblStay](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[features] [nvarchar](max) NULL,
	[contents] [nvarchar](max) NULL,
	[area] [nvarchar](50) NULL,
	[img1] [nvarchar](1000) NULL,
	[img2] [nvarchar](1000) NULL,
	[img3] [nvarchar](1000) NULL,
	[img4] [nvarchar](1000) NULL,
	[img5] [nvarchar](1000) NULL,
	[img6] [nvarchar](1000) NULL,
	[img7] [nvarchar](1000) NULL,
	[img8] [nvarchar](1000) NULL,
	[img9] [nvarchar](1000) NULL,
	[img10] [nvarchar](1000) NULL,
	[img11] [nvarchar](1000) NULL,
	[img12] [nvarchar](1000) NULL,
	[img13] [nvarchar](1000) NULL,
	[img14] [nvarchar](1000) NULL,
	[img15] [nvarchar](1000) NULL,
	[img16] [nvarchar](1000) NULL,
	[img17] [nvarchar](1000) NULL,
	[img18] [nvarchar](1000) NULL,
	[img19] [nvarchar](1000) NULL,
	[img20] [nvarchar](1000) NULL,
	[map] [nvarchar](max) NULL,
	[video] [nvarchar](max) NULL,
	[url] [nvarchar](max) NULL,
	[pid] [nvarchar](150) NULL,
	[datein] [nvarchar](50) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[info11] [nvarchar](500) NULL,
	[info12] [nvarchar](500) NULL,
	[info13] [nvarchar](500) NULL,
	[info14] [nvarchar](500) NULL,
	[info15] [nvarchar](500) NULL,
	[info16] [nvarchar](500) NULL,
	[info17] [nvarchar](500) NULL,
	[info18] [nvarchar](500) NULL,
	[info19] [nvarchar](500) NULL,
	[info20] [nvarchar](500) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[country] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTicket]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTicket](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[area] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[contents] [nvarchar](max) NULL,
	[notice] [nvarchar](max) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[info11] [nvarchar](500) NULL,
	[info12] [nvarchar](500) NULL,
	[info13] [nvarchar](500) NULL,
	[info14] [nvarchar](500) NULL,
	[info15] [nvarchar](500) NULL,
	[info16] [nvarchar](500) NULL,
	[info17] [nvarchar](500) NULL,
	[info18] [nvarchar](500) NULL,
	[info19] [nvarchar](500) NULL,
	[info20] [nvarchar](500) NULL,
	[img1] [nvarchar](max) NULL,
	[img2] [nvarchar](max) NOT NULL,
	[img3] [nvarchar](max) NULL,
	[img4] [nvarchar](max) NULL,
	[img5] [nvarchar](max) NULL,
	[img6] [nvarchar](max) NULL,
	[img7] [nvarchar](max) NULL,
	[img8] [nvarchar](max) NULL,
	[img9] [nvarchar](max) NULL,
	[img10] [nvarchar](max) NULL,
	[img11] [nvarchar](max) NULL,
	[img12] [nvarchar](max) NULL,
	[img13] [nvarchar](max) NULL,
	[img14] [nvarchar](max) NULL,
	[img15] [nvarchar](max) NULL,
	[img16] [nvarchar](max) NULL,
	[img17] [nvarchar](max) NULL,
	[img18] [nvarchar](max) NULL,
	[img19] [nvarchar](max) NULL,
	[img20] [nvarchar](max) NULL,
	[pid] [nvarchar](150) NULL,
	[datein] [nvarchar](150) NULL,
	[supplier] [nvarchar](50) NULL,
	[features] [nvarchar](max) NULL,
	[modus] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTour]    Script Date: 2021/12/8 22:40:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTour](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[area] [nvarchar](50) NULL,
	[days] [nvarchar](50) NULL,
	[contents] [nvarchar](500) NULL,
	[img1] [nvarchar](1000) NULL,
	[img2] [nvarchar](1000) NULL,
	[img3] [nvarchar](1000) NULL,
	[img4] [nvarchar](1000) NULL,
	[img5] [nvarchar](1000) NULL,
	[img6] [nvarchar](1000) NULL,
	[img7] [nvarchar](1000) NULL,
	[img8] [nvarchar](1000) NULL,
	[img9] [nvarchar](1000) NULL,
	[img10] [nvarchar](1000) NULL,
	[img11] [nvarchar](1000) NULL,
	[img12] [nvarchar](1000) NULL,
	[img13] [nvarchar](1000) NULL,
	[img14] [nvarchar](1000) NULL,
	[img15] [nvarchar](1000) NULL,
	[img16] [nvarchar](1000) NULL,
	[img17] [nvarchar](1000) NULL,
	[img18] [nvarchar](1000) NULL,
	[img19] [nvarchar](1000) NULL,
	[img20] [nvarchar](1000) NULL,
	[info1] [nvarchar](500) NULL,
	[info2] [nvarchar](500) NULL,
	[info3] [nvarchar](500) NULL,
	[info4] [nvarchar](500) NULL,
	[info5] [nvarchar](500) NULL,
	[info6] [nvarchar](500) NULL,
	[info7] [nvarchar](500) NULL,
	[info8] [nvarchar](500) NULL,
	[info9] [nvarchar](500) NULL,
	[info10] [nvarchar](500) NULL,
	[info11] [nvarchar](500) NULL,
	[info12] [nvarchar](500) NULL,
	[info13] [nvarchar](500) NULL,
	[info14] [nvarchar](500) NULL,
	[info15] [nvarchar](500) NULL,
	[info16] [nvarchar](500) NULL,
	[info17] [nvarchar](500) NULL,
	[info18] [nvarchar](500) NULL,
	[info19] [nvarchar](500) NULL,
	[info20] [nvarchar](500) NULL,
	[map] [nvarchar](max) NULL,
	[video] [nvarchar](150) NULL,
	[url] [nvarchar](150) NULL,
	[releaseDate] [nvarchar](150) NULL,
	[pid] [nvarchar](150) NULL,
	[startDate] [nvarchar](150) NULL,
	[startPlace] [nvarchar](150) NULL,
	[country] [nvarchar](max) NULL,
	[features] [nvarchar](max) NULL,
	[supplier] [nvarchar](150) NULL,
	[day1] [nvarchar](50) NULL,
	[day2] [nvarchar](50) NULL,
	[day3] [nvarchar](50) NULL,
	[day4] [nvarchar](50) NULL,
	[day5] [nvarchar](50) NULL,
	[day6] [nvarchar](50) NULL,
	[day7] [nvarchar](50) NULL,
	[day8] [nvarchar](50) NULL,
	[day9] [nvarchar](50) NULL,
	[day10] [nvarchar](50) NULL,
	[day11] [nvarchar](50) NULL,
	[day12] [nvarchar](50) NULL,
	[day13] [nvarchar](50) NULL,
	[day14] [nvarchar](50) NULL,
	[day15] [nvarchar](50) NULL,
	[day16] [nvarchar](50) NULL,
	[day17] [nvarchar](50) NULL,
	[day18] [nvarchar](50) NULL,
	[day19] [nvarchar](50) NULL,
	[day20] [nvarchar](50) NULL,
	[price] [int] NULL,
	[priceNew] [int] NULL,
	[category] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblFood] ON 

SET IDENTITY_INSERT [dbo].[tblFood] OFF
GO
SET IDENTITY_INSERT [dbo].[tblPlay] ON 

SET IDENTITY_INSERT [dbo].[tblPlay] OFF
GO
SET IDENTITY_INSERT [dbo].[tblStay] ON 

SET IDENTITY_INSERT [dbo].[tblStay] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTicket] ON 

SET IDENTITY_INSERT [dbo].[tblTicket] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTour] ON 

SET IDENTITY_INSERT [dbo].[tblTour] OFF
GO
