USE [OA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AddrBook]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AddrBook](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DepartName] [nvarchar](50) NULL,
	[Name] [nvarchar](50) NULL,
	[sex] [bit] NULL,
	[Tel] [nvarchar](50) NULL,
	[QQ] [nvarchar](50) NULL,
	[Email] [nvarchar](max) NULL,
	[Address] [nvarchar](50) NULL,
 CONSTRAINT [PK_AddrBook] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Admin]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Admin](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[LoginName] [nvarchar](50) NULL,
	[PassWord] [nvarchar](50) NULL,
	[TrueName] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[GroupID] [int] NULL,
	[FlagID] [int] NULL,
	[IsCheck] [bit] NULL,
	[AddTime] [datetime] NULL,
 CONSTRAINT [PK_Admin] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminGroup]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
	[Permission] [nvarchar](500) NULL,
 CONSTRAINT [PK_AdminGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppClass]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppClass](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ParentId] [int] NULL,
	[Gorder] [int] NULL,
	[depth] [int] NULL,
	[ParentPath] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_AppClass] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[ClassID] [int] NULL,
	[Contents] [ntext] NULL,
	[ctime] [datetime] NULL,
	[checkstate] [int] NULL,
 CONSTRAINT [PK_Applications] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DataBak]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataBak](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](50) NULL,
	[FileSize] [nvarchar](50) NULL,
	[FilePath] [nvarchar](300) NULL,
	[ctime] [datetime] NULL,
	[userid] [int] NULL,
 CONSTRAINT [PK_DataBak] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Email]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Email](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Contents] [ntext] NULL,
	[IsShow] [int] NULL,
	[IsShowGet] [int] NULL,
	[ctime] [datetime] NULL,
 CONSTRAINT [PK_Email] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FileManage]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FileManage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[FileName] [nvarchar](50) NULL,
	[TypeId] [int] NULL,
	[ParentId] [int] NULL,
	[Lan] [nvarchar](50) NULL,
	[FileUrl] [nvarchar](200) NULL,
	[FileSize] [nvarchar](50) NULL,
	[ctime] [datetime] NULL,
	[Description] [ntext] NULL,
 CONSTRAINT [PK_FileManage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MenuBar]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MenuBar](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
	[depth] [int] NULL,
	[ParentPath] [nvarchar](100) NULL,
	[Href] [nvarchar](300) NULL,
	[Target] [nvarchar](50) NULL,
	[OrderList] [int] NULL,
	[Visible] [int] NULL,
 CONSTRAINT [PK_MenuBar] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[News]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[News](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](50) NULL,
	[ParentId] [int] NULL,
	[Author] [nvarchar](50) NULL,
	[Source] [nvarchar](50) NULL,
	[AddTime] [datetime] NULL,
	[Brief] [nvarchar](300) NULL,
	[Details] [ntext] NULL,
	[VisitCounts] [int] NULL,
	[FlagID] [int] NULL,
	[TypeID] [int] NULL,
	[Visble] [int] NULL,
	[ImgUrl] [nvarchar](300) NULL,
	[Html] [nvarchar](1000) NULL,
 CONSTRAINT [PK_News] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NewsGroup]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NewsGroup](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[ParentId] [int] NULL,
	[Gorder] [int] NULL,
	[depth] [int] NULL,
	[ParentPath] [nvarchar](200) NULL,
	[Description] [nvarchar](200) NULL,
 CONSTRAINT [PK_NewsGroup] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OffDoc]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OffDoc](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FromUserId] [int] NULL,
	[ToUserId] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Contents] [ntext] NULL,
	[ctime] [datetime] NULL,
 CONSTRAINT [PK_OffDoc] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Posts]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Posts](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[Contents] [ntext] NULL,
	[ctime] [datetime] NULL,
	[checkstate] [int] NULL,
 CONSTRAINT [PK_Posts] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PropertyManage]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PropertyManage](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Price] [money] NULL,
	[parentid] [int] NULL,
	[Description] [ntext] NULL,
	[ctime] [datetime] NULL,
 CONSTRAINT [PK_PropertyManage] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_Advance]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_Advance](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [nvarchar](50) NULL,
	[contents] [nvarchar](150) NULL,
	[userID] [nvarchar](50) NULL,
	[datein] [nvarchar](50) NULL,
	[money] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_Advance] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ChatList]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ChatList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[department] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[from_userID] [nvarchar](50) NULL,
	[to_userID] [nvarchar](50) NULL,
	[datein] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_ChatList] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_GuestNeeds]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_GuestNeeds](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[company] [nvarchar](150) NULL,
	[type] [nvarchar](50) NULL,
	[mail] [nvarchar](150) NULL,
	[name] [nvarchar](50) NULL,
	[info] [nvarchar](max) NULL,
	[datein] [nvarchar](50) NULL,
 CONSTRAINT [PK_T_GuestNeeds] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_ShopScore]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_ShopScore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin] [nvarchar](150) NULL,
	[khmc] [nvarchar](50) NULL,
	[khdh] [nvarchar](50) NULL,
	[khcz] [nvarchar](50) NULL,
	[khyj] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[datein] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[webname] [nvarchar](max) NULL,
 CONSTRAINT [PK_T_ShopScore] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_stock]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_stock](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[country] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[category] [nvarchar](50) NULL,
	[num] [nvarchar](50) NULL,
	[stockID] [nvarchar](150) NULL,
	[stockName] [nvarchar](150) NULL,
	[bestBuy] [nvarchar](150) NULL,
	[bestSell] [nvarchar](150) NULL,
	[datein] [nvarchar](150) NULL,
	[url] [nvarchar](500) NULL,
	[other] [nvarchar](500) NULL,
 CONSTRAINT [PK_T_stock] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_TelScore]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_TelScore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin] [nvarchar](150) NULL,
	[khmc] [nvarchar](50) NULL,
	[khdh] [nvarchar](50) NULL,
	[khcz] [nvarchar](50) NULL,
	[khyj] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[datein] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[name] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_UserList]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_UserList](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mail] [nvarchar](150) NULL,
	[password] [nvarchar](150) NULL,
	[userID] [nvarchar](50) NULL,
	[address] [nvarchar](150) NULL,
	[tel] [nvarchar](150) NULL,
	[fax] [nvarchar](150) NULL,
	[sex] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[regdate] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[phone] [nvarchar](150) NULL,
	[qq] [nvarchar](150) NULL,
	[wc] [nvarchar](150) NULL,
	[gslb] [nvarchar](150) NULL,
	[gsmc] [nvarchar](150) NULL,
	[gsgj] [nvarchar](150) NULL,
	[gsdz] [nvarchar](150) NULL,
	[gsdh] [nvarchar](150) NULL,
	[gscz] [nvarchar](150) NULL,
	[gsyx] [nvarchar](150) NULL,
	[date] [nvarchar](150) NULL,
	[shop] [nvarchar](150) NULL,
	[userName] [nvarchar](150) NULL,
	[money] [int] NULL,
	[purview] [nvarchar](50) NULL,
	[fromWeb] [nvarchar](50) NULL,
	[regIdentity] [nvarchar](50) NULL,
	[picture1] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[T_WebScore]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[T_WebScore](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[admin] [nvarchar](50) NULL,
	[type] [nvarchar](50) NULL,
	[contents] [nvarchar](max) NULL,
	[datein] [nvarchar](50) NULL,
	[webname] [nvarchar](max) NULL,
	[bath] [nvarchar](max) NULL,
	[category] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](128) NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NULL,
	[Phone] [nvarchar](20) NULL,
	[Email] [nvarchar](128) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[EmailConfirmeToken] [nvarchar](128) NULL,
	[Gender] [int] NULL,
	[Country] [nvarchar](50) NULL,
	[Address] [nvarchar](150) NULL,
	[QQ] [nvarchar](150) NULL,
	[WeChat] [nvarchar](150) NULL,
	[CreateTime] [datetimeoffset](7) NOT NULL,
	[UpdateTime] [datetimeoffset](7) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WebSiteConfig]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WebSiteConfig](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[HomePage] [nvarchar](200) NULL,
	[Address] [nvarchar](100) NULL,
	[CopyRight] [nvarchar](100) NULL,
	[Tel] [nvarchar](100) NULL,
	[Fax] [nvarchar](100) NULL,
	[KeyWords] [nvarchar](300) NULL,
	[Description] [nvarchar](300) NULL,
	[ICPRecord] [nvarchar](50) NULL,
	[ContactMan] [nvarchar](50) NULL,
	[PostCode] [nvarchar](50) NULL,
	[PageTitle] [nvarchar](50) NULL,
	[PageBTitle] [nvarchar](50) NULL,
	[Email] [nvarchar](50) NULL,
	[LogoUrl] [nvarchar](200) NULL,
	[PoweredBy] [nvarchar](50) NULL,
	[QQ] [nvarchar](200) NULL,
 CONSTRAINT [PK_Config] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkLog]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkLog](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[Title] [nvarchar](50) NULL,
	[contents] [ntext] NULL,
	[ctime] [datetime] NULL,
	[checkstate] [int] NOT NULL,
 CONSTRAINT [PK_WorkLog] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkPlan]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkPlan](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NULL,
	[typeid] [int] NULL,
	[title] [nvarchar](50) NULL,
	[contents] [ntext] NULL,
	[ctime] [datetime] NULL,
 CONSTRAINT [PK_WorkPlan] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20211208023333_UserMoveToOA', N'5.0.11')
GO
SET IDENTITY_INSERT [dbo].[AddrBook] ON 

INSERT [dbo].[AddrBook] ([ID], [DepartName], [Name], [sex], [Tel], [QQ], [Email], [Address]) VALUES (5, N'技术部', N'张三5', 1, N'1350000XX00', N'1416759661', N'1416759661@qq.com', N'四川成都')
INSERT [dbo].[AddrBook] ([ID], [DepartName], [Name], [sex], [Tel], [QQ], [Email], [Address]) VALUES (6, N'人力资源部', N'李四6', 1, N'1351100XX00', N'1416759662', N'1416759662@qq.com', N'四川成都软件园')
INSERT [dbo].[AddrBook] ([ID], [DepartName], [Name], [sex], [Tel], [QQ], [Email], [Address]) VALUES (7, N'技术部', N'张三7', 0, N'1350000XX00', N'1416759661', N'1416759661@qq.com', N'四川成都')
SET IDENTITY_INSERT [dbo].[AddrBook] OFF
GO
SET IDENTITY_INSERT [dbo].[Admin] ON 

INSERT [dbo].[Admin] ([ID], [LoginName], [PassWord], [TrueName], [Email], [GroupID], [FlagID], [IsCheck], [AddTime]) VALUES (1, N'yyjcw', N'7a57a5a743894a0e', N'営業部', N'aa@aa.com', 1, 0, 1, CAST(N'2009-11-26T09:14:12.627' AS DateTime))
INSERT [dbo].[Admin] ([ID], [LoginName], [PassWord], [TrueName], [Email], [GroupID], [FlagID], [IsCheck], [AddTime]) VALUES (2, N'user', N'7a57a5a743894a0e', N'マーケティング部', N'aa@aa.com', 2, 0, 1, CAST(N'2009-11-26T09:33:17.327' AS DateTime))
INSERT [dbo].[Admin] ([ID], [LoginName], [PassWord], [TrueName], [Email], [GroupID], [FlagID], [IsCheck], [AddTime]) VALUES (11, N'rlzy', N'965eb72c92a549dd', N'EC部', N'webmaster@163.com', 11, 0, 1, CAST(N'2010-11-05T19:29:19.157' AS DateTime))
SET IDENTITY_INSERT [dbo].[Admin] OFF
GO
SET IDENTITY_INSERT [dbo].[AdminGroup] ON 

INSERT [dbo].[AdminGroup] ([ID], [Name], [ParentID], [Permission]) VALUES (1, N'超级管理员', 0, N'1,13,14,69,73,74,77,17,3,11,12,26,27,82,92,93,83,95,96,97,98,84,99,100,101,85,102,103,104,86,105,106,107,108,109,110,87,111,112,113,88,114,115,116,89,117,118,119,90,120,121,91,122,123,124,125,126,127,129,130,131,132,62,78,79,58,59,60,19,20,21,22,23,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148')
INSERT [dbo].[AdminGroup] ([ID], [Name], [ParentID], [Permission]) VALUES (2, N'管理员', 0, N'1,17,3,11,12,26,27,82,92,93,83,95,96,97,98,84,99,100,101,85,102,103,104,86,105,106,107,108,109,110,87,111,112,113,88,114,115,116,89,117,118,119,90,120,121,91,122,123,124,125,62,79,58,59,60,19,20,21,133')
INSERT [dbo].[AdminGroup] ([ID], [Name], [ParentID], [Permission]) VALUES (9, N'技术部', 0, N'4,13,14,24,25,80,81,49,52,133')
SET IDENTITY_INSERT [dbo].[AdminGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[AppClass] ON 

INSERT [dbo].[AppClass] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (1, N'aaaa', 0, 0, 1, N'1', N'bbbb')
INSERT [dbo].[AppClass] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (2, N'bbbbfff', 1, 0, 2, N'1,2', N'bbbbffff')
INSERT [dbo].[AppClass] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (3, N'cccc', 0, 0, 1, N'3', N'cccc')
SET IDENTITY_INSERT [dbo].[AppClass] OFF
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ID], [userid], [Title], [ClassID], [Contents], [ctime], [checkstate]) VALUES (1, 1, N'6666666www.yyjcw.com', 3, N'<p>内容内容内容内容内容内容内容内容2222</p>', CAST(N'2011-02-15T22:05:07.140' AS DateTime), 1)
INSERT [dbo].[Applications] ([ID], [userid], [Title], [ClassID], [Contents], [ctime], [checkstate]) VALUES (2, 1, N'222222222222223333333333333333', 7, N'222222222222222222', CAST(N'2011-02-15T22:13:48.173' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[DataBak] ON 

INSERT [dbo].[DataBak] ([ID], [FileName], [FileSize], [FilePath], [ctime], [userid]) VALUES (1, N'2009828141038.asa', N'1424.5 kb', N'D:\project\YYCMS2000\Web\App_Data\2009828141038.asa', CAST(N'2009-08-28T14:15:52.827' AS DateTime), 1)
INSERT [dbo].[DataBak] ([ID], [FileName], [FileSize], [FilePath], [ctime], [userid]) VALUES (2, N'2009828142121.asa', N'1424.5 kb', N'D:\project\YYCMS2000\Web\App_Data\2009828142121.asa', CAST(N'2009-08-28T14:21:23.923' AS DateTime), 1)
INSERT [dbo].[DataBak] ([ID], [FileName], [FileSize], [FilePath], [ctime], [userid]) VALUES (3, N'200982814242.asa', N'1424.5 kb', N'D:\project\YYCMS2000\Web\App_Data\200982814242.asa', CAST(N'2009-08-28T14:24:05.157' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[DataBak] OFF
GO
SET IDENTITY_INSERT [dbo].[Email] ON 

INSERT [dbo].[Email] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [IsShow], [IsShowGet], [ctime]) VALUES (3, 1, 2, N'测试邮件测试邮件测试邮件', N'<font face="Arial">测试邮件测试邮件测试邮件</font>', 0, 0, CAST(N'2010-11-11T10:10:01.280' AS DateTime))
INSERT [dbo].[Email] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [IsShow], [IsShowGet], [ctime]) VALUES (4, 1, 2, N'测试邮件测试邮件测试邮件', N'<font face="Arial">测试邮件测试邮件测试邮件</font>', 0, 0, CAST(N'2010-11-11T10:10:04.937' AS DateTime))
INSERT [dbo].[Email] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [IsShow], [IsShowGet], [ctime]) VALUES (5, 1, 2, N'测试邮件测试邮件测试邮件', N'<font face="Arial">测试邮件测试邮件测试邮件</font>', 0, 0, CAST(N'2010-11-11T10:10:09.297' AS DateTime))
SET IDENTITY_INSERT [dbo].[Email] OFF
GO
SET IDENTITY_INSERT [dbo].[FileManage] ON 

INSERT [dbo].[FileManage] ([ID], [userid], [FileName], [TypeId], [ParentId], [Lan], [FileUrl], [FileSize], [ctime], [Description]) VALUES (8, 1, N'夜鹰教程网视频教程使用说明', 1, 0, N'1', NULL, N'5953', CAST(N'2010-11-07T00:06:23.767' AS DateTime), N'夜鹰教程网视频教程使用说明')
INSERT [dbo].[FileManage] ([ID], [userid], [FileName], [TypeId], [ParentId], [Lan], [FileUrl], [FileSize], [ctime], [Description]) VALUES (9, 1, N'夜鹰教程网视频教程使用说明', 1, 0, N'1', NULL, N'5953', CAST(N'2010-11-07T00:06:23.000' AS DateTime), N'夜鹰教程网视频教程使用说明')
INSERT [dbo].[FileManage] ([ID], [userid], [FileName], [TypeId], [ParentId], [Lan], [FileUrl], [FileSize], [ctime], [Description]) VALUES (10, 1, N'夜鹰教程网视频教程使用说明', 1, 0, N'1', NULL, N'5953', CAST(N'2010-11-07T00:06:23.000' AS DateTime), N'夜鹰教程网视频教程使用说明')
SET IDENTITY_INSERT [dbo].[FileManage] OFF
GO
SET IDENTITY_INSERT [dbo].[MenuBar] ON 

INSERT [dbo].[MenuBar] ([ID], [Name], [ParentID], [depth], [ParentPath], [Href], [Target], [OrderList], [Visible]) VALUES (1, N'トップ', 0, 1, N'2', N'', N'main', 1, 1)
INSERT [dbo].[MenuBar] ([ID], [Name], [ParentID], [depth], [ParentPath], [Href], [Target], [OrderList], [Visible]) VALUES (11, N'産品開発部', 0, 1, N'2', N'', N'main', 2, 1)
INSERT [dbo].[MenuBar] ([ID], [Name], [ParentID], [depth], [ParentPath], [Href], [Target], [OrderList], [Visible]) VALUES (12, N'HR', 0, 1, N'4', N'', N'main', 9, 1)
SET IDENTITY_INSERT [dbo].[MenuBar] OFF
GO
SET IDENTITY_INSERT [dbo].[News] ON 

INSERT [dbo].[News] ([ID], [Title], [ParentId], [Author], [Source], [AddTime], [Brief], [Details], [VisitCounts], [FlagID], [TypeID], [Visble], [ImgUrl], [Html]) VALUES (5, N'dfasdfasdfasd', 21, N'张三', N'网易科技', CAST(N'2009-07-26T16:23:06.267' AS DateTime), N'', N'sdfasdfasdf', 0, 0, 0, 1, N'..\UploadFile\news\200972616236.jpg', N'..\..\html\News\2009917164722722-5.html')
INSERT [dbo].[News] ([ID], [Title], [ParentId], [Author], [Source], [AddTime], [Brief], [Details], [VisitCounts], [FlagID], [TypeID], [Visble], [ImgUrl], [Html]) VALUES (8, N'订单的印刷工期有多长？', 21, N'张三', N'网易科技', CAST(N'2009-07-26T16:25:09.843' AS DateTime), N'', N'订单的印刷工期有多长？', 0, 0, 0, 1, N'..\UploadFile\news\200972616259.jpg', N'..\..\html\News\2009917164722722-8.html')
INSERT [dbo].[News] ([ID], [Title], [ParentId], [Author], [Source], [AddTime], [Brief], [Details], [VisitCounts], [FlagID], [TypeID], [Visble], [ImgUrl], [Html]) VALUES (9, N'香港印刷,我们的十年感激 ', 21, N'张三', N'网易科技', CAST(N'2009-07-26T16:25:10.000' AS DateTime), NULL, N'订单的印刷工期有多长？', 0, 0, 0, 1, NULL, N'..\..\html\News\2009917164722722-9.html')
GO
SET IDENTITY_INSERT [dbo].[News] OFF
GO
SET IDENTITY_INSERT [dbo].[NewsGroup] ON 

INSERT [dbo].[NewsGroup] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (20, N'公司新闻', 0, 2, 1, N'20', N'公司新闻')
INSERT [dbo].[NewsGroup] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (21, N'行业新闻', 0, 0, 1, N'21', N'行业新闻')
INSERT [dbo].[NewsGroup] ([ID], [Name], [ParentId], [Gorder], [depth], [ParentPath], [Description]) VALUES (22, N'热点聚焦', 0, 0, 1, N'22', N'热点聚焦')
SET IDENTITY_INSERT [dbo].[NewsGroup] OFF
GO
SET IDENTITY_INSERT [dbo].[OffDoc] ON 

INSERT [dbo].[OffDoc] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [ctime]) VALUES (1, 1, 2, N'aaaaaaaaaa', N'<font face="Arial">aaaaaaaaaa</font>', CAST(N'2010-11-07T21:11:10.423' AS DateTime))
INSERT [dbo].[OffDoc] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [ctime]) VALUES (2, 1, 11, N'ccccccccccccccccccc', N'cccccccccccccccc', CAST(N'2010-11-07T21:11:58.233' AS DateTime))
INSERT [dbo].[OffDoc] ([ID], [FromUserId], [ToUserId], [Title], [Contents], [ctime]) VALUES (4, 1, 11, N'ccccccccccccccccccc', N'ccccccccccccccccc', CAST(N'2010-11-07T21:31:02.813' AS DateTime))
SET IDENTITY_INSERT [dbo].[OffDoc] OFF
GO
SET IDENTITY_INSERT [dbo].[T_Advance] ON 

INSERT [dbo].[T_Advance] ([id], [type], [contents], [userID], [datein], [money]) VALUES (1, N'test1', N'test', N'liubingnan', NULL, NULL)
INSERT [dbo].[T_Advance] ([id], [type], [contents], [userID], [datein], [money]) VALUES (2, N'交通费', N'test2', N'liubingnan', N'2020/01/11 土 12:21:17', NULL)
SET IDENTITY_INSERT [dbo].[T_Advance] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ChatList] ON 

INSERT [dbo].[T_ChatList] ([id], [department], [type], [contents], [from_userID], [to_userID], [datein]) VALUES (14, N'工作报告(网销部)', N'工作报告(网销部)', N'百度贴吧里发三个贴，报告完毕', N'sunxiaoyu', N'全员', N'2019/12/03 火 21:33:27')
INSERT [dbo].[T_ChatList] ([id], [department], [type], [contents], [from_userID], [to_userID], [datein]) VALUES (15, N'工作报告(网销部)', N'工作报告(网销部)', N'本人自己也是在日好多年， 一直也没找到什么心仪的工作，前段时间听朋友给介绍一个平台，叫**职搜易*www.jobsoez.com/*是专门向日本各大中小企业提供招聘服务和人才派遣，打开平台看的时候感觉工作还是蛮多选择的，可以仔细看一下自己适合的，对在日的国人还是有很大帮助的，比如求职攻略，如何填写简历，如何自我介绍这些，宗旨就是彻底解决企业公司招聘人才难得问题。价格低，人才多，保质保量,同时免费提供系统使用, 就是平台的特点，在平台上刊登招聘广告，不仅PC电脑版,同时手机浏览器也可以搜索到**职搜易www.jobsoez.com/*哦，并同时提供中日英文的多语言服务，可以来试一试哦。', N'sunxiaoyu', N'全员', N'2019/12/03 火 21:42:42')
INSERT [dbo].[T_ChatList] ([id], [department], [type], [contents], [from_userID], [to_userID], [datein]) VALUES (16, N'工作报告(网销部)', N'工作报告(网销部)', N'马来西亚生活论坛，发帖三章，报告完毕', N'sunxiaoyu', N'全员', N'2019/12/03 火 21:48:20')
SET IDENTITY_INSERT [dbo].[T_ChatList] OFF
GO
SET IDENTITY_INSERT [dbo].[T_GuestNeeds] ON 

INSERT [dbo].[T_GuestNeeds] ([id], [company], [type], [mail], [name], [info], [datein]) VALUES (1, N'test', N'网站制作', N'rewq', N'dafda', N'fasfda', N'2020/05/17 19:14:57')
INSERT [dbo].[T_GuestNeeds] ([id], [company], [type], [mail], [name], [info], [datein]) VALUES (2, N'test1', N'移动开发', N'test2', N'test3', N'test4', N'2020/05/18 5:21:11')
INSERT [dbo].[T_GuestNeeds] ([id], [company], [type], [mail], [name], [info], [datein]) VALUES (3, N'test2', N'网站制作', N'123', N'123', N'123', N'2020/05/18 5:22:38')
SET IDENTITY_INSERT [dbo].[T_GuestNeeds] OFF
GO
SET IDENTITY_INSERT [dbo].[T_ShopScore] ON 

INSERT [dbo].[T_ShopScore] ([id], [admin], [khmc], [khdh], [khcz], [khyj], [contents], [datein], [type], [webname]) VALUES (1, N'liubingnan', N'test1', N'test2', N'test3', N'test4', N'test5', N'2019/12/13 21:39:43', N'线下推广', N'职搜易')
INSERT [dbo].[T_ShopScore] ([id], [admin], [khmc], [khdh], [khcz], [khyj], [contents], [datein], [type], [webname]) VALUES (2, N'liubingnan', N'test1', N'test2', N'test3', N'test4', N'test5', N'2019/12/13 21:39:46', N'线下推广', N'职搜易')
SET IDENTITY_INSERT [dbo].[T_ShopScore] OFF
GO
SET IDENTITY_INSERT [dbo].[T_stock] ON 

INSERT [dbo].[T_stock] ([id], [country], [type], [category], [num], [stockID], [stockName], [bestBuy], [bestSell], [datein], [url], [other]) VALUES (11, N'日本股', N'长线', N'看多', N'100', N'東証8306', N'三菱UFJフィナンシャル・グループ', N'1200', N'300', N'2020/08/20 9:37:06', N'https://www.k-zone.co.jp/td/quotes/8306T', N'购入价格420円。适合中长期投资。')
SET IDENTITY_INSERT [dbo].[T_stock] OFF
GO
SET IDENTITY_INSERT [dbo].[T_TelScore] ON 

INSERT [dbo].[T_TelScore] ([id], [admin], [khmc], [khdh], [khcz], [khyj], [contents], [datein], [type], [name]) VALUES (10, N'liubingnan', N'日本黒龍江同郷総会', N'08034018795', N'', N'icpatokyo＠gmail.com', N'', N'2020/07/19 20:09:07', N'華人団体', N'石 金楷')
INSERT [dbo].[T_TelScore] ([id], [admin], [khmc], [khdh], [khcz], [khyj], [contents], [datein], [type], [name]) VALUES (11, N'liubingnan', N'在日華人珠寶交流会', N'08099774017', N'', N'jcja.since2019＠gmail.com', N'', N'2020/07/19 20:11:08', N'', N'于赢')
INSERT [dbo].[T_TelScore] ([id], [admin], [khmc], [khdh], [khcz], [khyj], [contents], [datein], [type], [name]) VALUES (12, N'liubingnan', N'日本華僑華人婦女連合会', N'0334455655', N'0334419466', N'jpwomen0606@yahoo.co.jp', N'', N'2020/07/19 20:17:58', N'', N'')
SET IDENTITY_INSERT [dbo].[T_TelScore] OFF
GO
SET IDENTITY_INSERT [dbo].[T_UserList] ON 

INSERT [dbo].[T_UserList] ([id], [mail], [password], [userID], [address], [tel], [fax], [sex], [type], [regdate], [country], [phone], [qq], [wc], [gslb], [gsmc], [gsgj], [gsdz], [gsdh], [gscz], [gsyx], [date], [shop], [userName], [money], [purview], [fromWeb], [regIdentity], [picture1]) VALUES (20, N'269003133@qq.com', N'hubml230', N'okiwoi', N'大阪市西成区岸里', NULL, NULL, N'男生', N'member', N'2019/11/4 23:16:40', N'日本', N'08042329188', N'微信', NULL, NULL, N'', NULL, N'', N'', N'', N'', N'2019/11/4 23:16:40', N'NOOPEN', N'朱煦', 1, N'NO', N'职搜易', NULL, N'/UploadFile/LlsZp/LlsZp2019110423163225.jpg')
INSERT [dbo].[T_UserList] ([id], [mail], [password], [userID], [address], [tel], [fax], [sex], [type], [regdate], [country], [phone], [qq], [wc], [gslb], [gsmc], [gsgj], [gsdz], [gsdh], [gscz], [gsyx], [date], [shop], [userName], [money], [purview], [fromWeb], [regIdentity], [picture1]) VALUES (21, N'269003133@qq.com', N'hubml230', N'okiwoi', N'大阪市西成区岸里', NULL, NULL, N'男生', N'member', N'2019/11/4 23:18:48', N'日本', N'08042329188', N'微信', NULL, NULL, N'', NULL, N'', N'', N'', N'', N'2019/11/4 23:18:48', N'NOOPEN', N'朱煦', 1, N'NO', N'职搜易', NULL, N'/UploadFile/LlsZp/LlsZp2019110423163225.jpg')
SET IDENTITY_INSERT [dbo].[T_UserList] OFF
GO
SET IDENTITY_INSERT [dbo].[T_WebScore] ON 

INSERT [dbo].[T_WebScore] ([id], [admin], [type], [contents], [datein], [webname], [bath], [category]) VALUES (1, NULL, N'网络推广', N'fasfaf', N'2019/09/23 12:11:56', N'职搜易', NULL, N'邮件广告')
INSERT [dbo].[T_WebScore] ([id], [admin], [type], [contents], [datein], [webname], [bath], [category]) VALUES (2, NULL, N'网络推广', N'fasfaf', N'2019/09/23 12:12:13', N'职搜易', NULL, N'邮件广告')
INSERT [dbo].[T_WebScore] ([id], [admin], [type], [contents], [datein], [webname], [bath], [category]) VALUES (3, N'liubingnan', N'网络推广', N'123', N'2019/09/23 12:23:55', N'职搜易', NULL, N'QQ群发帖')
SET IDENTITY_INSERT [dbo].[T_WebScore] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Password], [Name], [Phone], [Email], [EmailConfirmed], [EmailConfirmeToken], [Gender], [Country], [Address], [QQ], [WeChat], [CreateTime], [UpdateTime]) VALUES (1, N'Admin', N'123456', NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, CAST(N'2021-12-13T22:38:46.5900000+00:00' AS DateTimeOffset), CAST(N'2021-12-13T22:38:46.5900000+00:00' AS DateTimeOffset))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[WebSiteConfig] ON 

INSERT [dbo].[WebSiteConfig] ([ID], [Name], [HomePage], [Address], [CopyRight], [Tel], [Fax], [KeyWords], [Description], [ICPRecord], [ContactMan], [PostCode], [PageTitle], [PageBTitle], [Email], [LogoUrl], [PoweredBy], [QQ]) VALUES (1, N'登峰开发OA管理系统', N'http://www.yyjcw.com', N'登峰开发OA管理系统', N'CopyRights&nbsp;2009-2010', N'13540293140', N'028-88888888', N'登峰开发OA管理系统', N'登峰开发OA管理系统', N'蜀ICP备xxxx号', N'汤先生', N'610225', N'登峰开发OA管理系统', N'登峰开发OA管理系统', N'308242651@qq.com', N'images\adminlogo.png', N'登峰开发OA管理系统', N'308242651')
SET IDENTITY_INSERT [dbo].[WebSiteConfig] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkLog] ON 

INSERT [dbo].[WorkLog] ([ID], [userid], [Title], [contents], [ctime], [checkstate]) VALUES (2, 0, N'asdfasdfadsf', N'dsfasdfasdf', CAST(N'2010-11-03T22:25:08.000' AS DateTime), 0)
INSERT [dbo].[WorkLog] ([ID], [userid], [Title], [contents], [ctime], [checkstate]) VALUES (3, 0, N'fasdfasdf', N'sdfasdfasd', CAST(N'2010-11-03T22:26:40.000' AS DateTime), 0)
INSERT [dbo].[WorkLog] ([ID], [userid], [Title], [contents], [ctime], [checkstate]) VALUES (4, 0, N'asdfasdfasdf', N'asdfasdfasdf', CAST(N'2010-11-03T22:26:48.000' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[WorkLog] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkPlan] ON 

INSERT [dbo].[WorkPlan] ([ID], [userid], [typeid], [title], [contents], [ctime]) VALUES (1, 1, 0, N'22222夜鹰教程网ext基础教程马上录制完毕了', N'&nbsp;夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了', CAST(N'2010-01-02T09:00:00.000' AS DateTime))
INSERT [dbo].[WorkPlan] ([ID], [userid], [typeid], [title], [contents], [ctime]) VALUES (2, 1, 0, N'夜鹰教程网e22222xt基础教程马上录制完毕了', N'&nbsp;夜鹰教程网ext基础教程马上录制完毕了', CAST(N'2010-12-12T00:00:00.000' AS DateTime))
INSERT [dbo].[WorkPlan] ([ID], [userid], [typeid], [title], [contents], [ctime]) VALUES (3, 1, 0, N'夜鹰教程网ext基础教程马上录制完毕了', N'&nbsp;夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了夜鹰教程网ext基础教程马上录制完毕了', CAST(N'2010-12-12T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[WorkPlan] OFF
GO
ALTER TABLE [dbo].[Email] ADD  CONSTRAINT [DF_Email_IsShow]  DEFAULT ((0)) FOR [IsShow]
GO
ALTER TABLE [dbo].[MenuBar] ADD  CONSTRAINT [DF_MenuBar_Target]  DEFAULT (N'main') FOR [Target]
GO
ALTER TABLE [dbo].[MenuBar] ADD  CONSTRAINT [DF_MenuBar_OrderList]  DEFAULT (0) FOR [OrderList]
GO
ALTER TABLE [dbo].[MenuBar] ADD  CONSTRAINT [DF_MenuBar_Visible]  DEFAULT (1) FOR [Visible]
GO
ALTER TABLE [dbo].[NewsGroup] ADD  CONSTRAINT [DF_NewsGroup_ParentId]  DEFAULT ((0)) FOR [ParentId]
GO
ALTER TABLE [dbo].[NewsGroup] ADD  CONSTRAINT [DF_NewsGroup_Gorder]  DEFAULT ((0)) FOR [Gorder]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (CONVERT([bit],(0),0)) FOR [EmailConfirmed]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreateTime]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdateTime]
GO
/****** Object:  StoredProcedure [dbo].[BatchDelete]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BatchDelete]
@TableName nvarchar(50),
@idstr nvarchar(200)
AS
BEGIN
	DECLARE @strSql nvarchar(1000)
	SET @strSql=
	N'DELETE FROM '+@TableName+' WHERE id IN ('+@idstr+')'
	EXEC sp_executesql @strSql
END
GO
/****** Object:  StoredProcedure [dbo].[GetPageList]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[GetPageList]
@TableName nvarchar(50),
@PageIndex int,
@PageSize int,
@strWhere nvarchar(500),
@Recordcount int out
AS 
BEGIN
	DECLARE @strSql1 nvarchar(1000),
			@strSql2 nvarchar(1000)
	SET @strSql1=
	N'select top '+str(@PageSize)+' * from '+@TableName+' where id not in (select top '+str(@PageSize*(@PageIndex-1))+' id from '+@TableName+' where '+@strWhere+ ' order by id desc) and '+@strWhere+' order by id desc '
	SET @strSql2=
	N'select @Recordcount=count(*) from '+@TableName+' where '+@strWhere 
	EXEC sp_executesql @strSql1
	EXEC sp_executesql @strSql2,N'@Recordcount int out',@Recordcount out
END

GO
/****** Object:  StoredProcedure [dbo].[VirtualBatchDelete]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[VirtualBatchDelete]
@TableName nvarchar(50),
@strId nvarchar(200),
@type int
AS
BEGIN
DECLARE @strSql nvarchar(1000)
IF @type=1
SET @strSql=N' update '+@TableName+' set IsShow=1 where id in ('+@strId+')'
ELSE
SET @strSql=N' update '+@TableName+' set IsShowGet=1 where id in ('+@strId+')'
EXEC sp_executesql @strSql
END 
GO
/****** Object:  StoredProcedure [dbo].[WorkLogAdd]    Script Date: 2021/12/19 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE  PROCEDURE [dbo].[WorkLogAdd]
@userid int,
@Title nvarchar(50),
@contents ntext,
@ctime datetime,
@checkstate int,
@NewId int output
AS 
BEGIN
INSERT INTO WorkLog (userid,Title,contents,ctime,checkstate) VALUES (@userid,@Title,@contents,@ctime,@checkstate) 
SET @NewId=@@IDENTITY 
END







GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'DepartName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'人名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'性别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'sex'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电话' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'Tel'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'QQ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'QQ'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'电子邮箱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'Email'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AddrBook', @level2type=N'COLUMN',@level2name=N'Address'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类别名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父类ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'Gorder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'深度' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'depth'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'路径' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'ParentPath'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AppClass', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Applications', @level2type=N'COLUMN',@level2name=N'userid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Applications', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Applications', @level2type=N'COLUMN',@level2name=N'Contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Applications', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Applications', @level2type=N'COLUMN',@level2name=N'checkstate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'FromUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'ToUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'Contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1表示虚拟删除 默认值为0' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'IsShow'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Email', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上传者标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'userid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'FileName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1表示文件管理 2表示文档管理' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'TypeId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件分类' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'ParentId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件的语言 1表示简体中文 0表示英语' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'Lan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件大小' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'FileSize'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发布时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'文件的描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'FileManage', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OffDoc', @level2type=N'COLUMN',@level2name=N'FromUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'接收者ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OffDoc', @level2type=N'COLUMN',@level2name=N'ToUserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OffDoc', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OffDoc', @level2type=N'COLUMN',@level2name=N'Contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'发送时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'OffDoc', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'资产名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PropertyManage', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'价格' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PropertyManage', @level2type=N'COLUMN',@level2name=N'Price'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'类别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PropertyManage', @level2type=N'COLUMN',@level2name=N'parentid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'描述' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PropertyManage', @level2type=N'COLUMN',@level2name=N'Description'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'添加时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'PropertyManage', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'操作者标识' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkLog', @level2type=N'COLUMN',@level2name=N'userid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkLog', @level2type=N'COLUMN',@level2name=N'Title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'日志内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkLog', @level2type=N'COLUMN',@level2name=N'contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'撰写时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkLog', @level2type=N'COLUMN',@level2name=N'ctime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'审核状态' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkLog', @level2type=N'COLUMN',@level2name=N'checkstate'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'用户ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkPlan', @level2type=N'COLUMN',@level2name=N'userid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'分类 1表示日程 2表示计划 3表示工作总结' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkPlan', @level2type=N'COLUMN',@level2name=N'typeid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'标题' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkPlan', @level2type=N'COLUMN',@level2name=N'title'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'内容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkPlan', @level2type=N'COLUMN',@level2name=N'contents'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'撰写的时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'WorkPlan', @level2type=N'COLUMN',@level2name=N'ctime'
GO
